.hamburger {
	padding-top: 30px;
	grid-column: 4 / span 1;

	@include small {
		grid-column: 6 / span 1;
	}
	
	@include medium {
		grid-column: 8 / span 5;
		padding-top: 55px;
	}

	@include large {
		grid-column: 24 / span 1;
	}

	.nav-trigger {
		width: 24px;
		height: 22px;
	    display: flex;
	    align-items: center;
	    margin-left: auto;

	    @include large {
	    	margin-right: auto;
	    	margin-left: 0;
	    }
	}

	.patty {
		width: 24px;
		height: 4px;
		margin-left: auto;
		transition: all 0.2s;

		&:before,
		&:after{
			content: '';
			display: block;
			width: 24px;
			height: 4px;
			position: absolute;
			z-index: 1;
			transition: all 0.2s;
		}

		&:before {
			top: -8px;
		}

		&:after {
			top: 8px;
		}
	}
}


// Color Theming
&.orange {
	.hamburger {
		.patty,
		.patty:before,
		.patty:after {
			background: $white;

			@include large {
				background: $orange;
			}
		}
	}
}

&.black {
	.hamburger {
		.patty,
		.patty:before,
		.patty:after {
			background: $orange;		
		}
	}
}

&.gray {
	.hamburger {
		.patty,
		.patty:before,
		.patty:after {
			background: $orange;
		}
	}
}

&.white {
	.hamburger {
		.patty,
		.patty:before,
		.patty:after {
			background: $orange;
		}
	}
}	
