.nav-open {
	overflow: hidden;

	// Toggle Animation
	.site-header {
		z-index: 200;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		.hamburger {
			.patty {
				background: none;
				
				&:before {
					top: 0;
					transform: rotate(-45deg);
				}

				&:after {
				   top: 0;
				   transform: rotate(45deg);
				}
			}
		}

		// Logo Swaps
		&.orange {
			background: $orange;

			@include large {
				background: transparent;
			}

			.hamburger {
				.patty:before,
				.patty:after {
					background: $white;
				}
			}

		}

		&.white {
			background: $white;

			@include large {
				background: transparent;
			}
		}
	}

	.site-nav {
		opacity: 1;
		z-index: 100;
		left: 0;
	}

	.case-study-hero .project-sub-headline {
		padding-top: 88px;

		@include medium {
			padding-top: 128px;
		}		
	}

	&.orange {
		background: $orange;
	}

	&.black {
		background: $black;
	}

	&.white {
		background: $white;
	}

	&.gray {
		background: $light-gray;
	}
}