.site-header {

	@include left-gutter;

	&.orange {
		background: $orange;

		@include large {
			background: transparent;

			.site-logo {
				background: $orange;
			}

			&:before {
				background: $orange;
			}
		}	
	}

	&.black {
		background: $black ;

		@include large {
			background: transparent;

			.site-logo {
				background: $black;
			}

			&:before {
				background: $black;
			}
		}	
	}

	&.gray {
		background: $light-gray;

		@include large {
			background: transparent;

			.site-logo {
				background: $light-gray;
			}

			&:before {
				background: $light-gray;
			}
		}		
	}

	&.white {
		background: $white;
	}

	@import "site-logo";

	@import "hamburger";
}

@import "site-nav";

@import "nav-open";

body.page-template-homepage {
	.site-header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		background: transparent;

		&:before {
			background: transparent;
		}

		.site-logo {
			background: transparent;
		}
	}

	&.nav-open {
		.site-header {
			z-index: 200;
		}
	}
}