.site-logo {
	padding: 20px 0;
	grid-column: 2 / span 1;

	@include medium {
		padding: 40px 0;
		grid-column: 2 / span 6;
	}

	@include large {
		grid-column: 2 / span 21;
	}

	a {
		display: block;
		width: 154px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100%;

		@include medium {
			width: 184px;
			height: 48px;
		}

		span {
			display: block;
			visibility: hidden;
		}
	}
}

// Normal State Theming
&.orange {
	.site-logo {
		a {
			background-image: url(images/logo-white-white.svg);
		}
	}
}

&.black {
	.site-logo {
		a {
			background-image: url(images/logo-orange-white.svg);
		}
	}
}

&.gray {
	.site-logo {
		a {
			background-image: url(images/logo-orange-black.svg);
		}
	}
}

&.white {
	.site-logo {
		a {
			background-image: url(images/logo-orange-black.svg);
		}
	}
}