.site-nav {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -100vw;
	z-index: -1;
	opacity: 0;
	transition: opacity ease-in 0.3s;
	overflow: hidden;

	.content {
		padding: 100px 0 0 0;
		height: 100vh;
		overflow-y: scroll;
		-ms-overflow-style: none;
		overflow: -moz-scrollbars-none;
		scrollbar-width: none;

		&::-webkit-scrollbar { width: 0 !important }  

		@include medium {
			padding: 175px 0 0 0;
			display: grid;
			gap: 0 32px;
			grid-template-columns: repeat(6, 1fr);
		}

		@include large {
			grid-template-columns: repeat(12, 1fr);
		}
	}

	.nav-header {
		h3 {
			font-weight: bold;
		}
	}

	.case-study-links {
		@include medium {	
			grid-column: 1 / span 3;
			padding-bottom: 100px;
		}

		@include large {	
			grid-column: 4 / span 4;
		}
	}

	.link {
		padding-top: 30px;

		a {
			display: inline-block;
			font-size: 1.5rem;
			font-weight: 300;
			line-height: 1.3333em;

			&:hover {
				text-decoration: underline;
			}		
		}
	}

	.contact-info {
		padding: 60px 0 100px 0;

		@include medium {
			padding: 0;
			grid-column: 4 / span 3;
		}

		@include large {	
			grid-column: 8 / span 4;
		}

		.contact-details {
			padding-top: 20px;

			p {
				font-size: 1.5rem;
				font-weight: 300;
				line-height: 2.3333em;

				span {
					display: block;
				}

				a {
					display: inline-block;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.subscribe-form {
		display: none;

		#mc_embed_signup_scroll {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		.mc-field-group {
			width: 100%;
			max-width: 240px;
		}

		.submit-btn {
			flex: 1;
		}

		input.email {
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			height: 56px;
			line-height: 1em;
			padding: 0 15px;
			font-weight: 300;
			font-size: 1rem;
			width: 100%;

			@include placeholder {
				color: #666;
			}

			&:active,
			&:focus {
				outline: none;
			}
		}

		input.button {
			margin-right: auto;
			height: 56px;
			line-height: 1em;
			border: none;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			font-size: 1rem;
			font-weight: 300;
			font-family: $roboto;
			padding: 2px 25px 0 25px;
			transition: all 0.2s ease-in;

			&:active,
			&:focus {
				outline: none;
			}
		}
	}

	&.orange {
		background-color: $orange;
		color: $white;

		a {
			color: $white;
		}

		.subscribe-form {

			input.email {
				border: 1px solid $white;;
				color: $white;
				background: transparent;

				@include placeholder {
					color: $white;
				}
			}

			input.button {
				background: $white;
				color: $orange;
				border: 1px solid $white;

				&:hover {
					background: $black;
					color: $white;
					border: 1px solid $black;
				}
			}
		}
	}

	&.black {
		background-color: $black;
		color: $white;

		a {
			color: $white;
		}

		.subscribe-form {

			input.email {
				border: 1px solid $white;
				border-right: none;
				color: $white;
				background: transparent;

				@include placeholder {
					color: $white;
				}
			}

			input.button {
				background: $white;
				color: $black;
				border: 1px solid $white;
			}
		}
	}

	&.gray {
		background-color: $light-gray;
		color: $black;

		.subscribe-form {

			input.email {
				border: 1px solid $black;
				border-right: none;
				color: $black;
				background: transparent;
			}

			input.button {
				background: $black;
				color: $white;
				border: 1px solid $black;
				border-left: 1px solid $black;

				&:hover {
					background: $black;
					color: $white;
					border: 1px solid $black;
				}
			}
		}
	}

	&.white {
		background-color: $white;
		color: $black;

		.subscribe-form {

			input.email {
				border: 1px solid $black;
				border-right: none;
				color: $black;
			}

			input.button {
				background: $black;
				color: $white;
				border: 1px solid $black;
				border-left: 1px solid $black;

				&:hover {
					background: $black;
					color: $white;
					border: 1px solid $black;
				}
			}
		}
	}
}