.grid {
	display: grid;
	grid-template-columns: 16px 1fr 32px 1fr 16px;
	overflow: hidden;

	@include small {
		grid-template-columns: 40px repeat(2, 1fr 32px) 1fr 40px;
	}

	@include medium {
		grid-template-columns: 40px repeat(5, 1fr 32px) 1fr 40px;
	}

	@include large {
		grid-template-columns: 48px repeat(11, 1fr 32px) 1fr 48px;
	}

	& > * {
		grid-column: 2 / span 3;

		@include small {
			grid-column: 2 / span 5;
		}

		@include medium {
			grid-column: 2 / span 11;
		}

		@include large {
			grid-column: 2 / span 23;
		}
	}
}