html {
	scrollbar-width: none; /* Firefox */
}

body {
	background: #f0f0f0;
	transition: background ease-in 0.3s;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* IE 10+ */
	overflow-x: hidden;

	&::-webkit-scrollbar { 
		display: none;  /* Chrome Safari */
	}

}

#page {
	max-width: 1920px;
	margin: 0 auto;
	background: $white;
	overflow: hidden;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px; 
	padding: 0 25px;
	transition: padding 0.2s ease-in;

	@include large {
		padding: 0 50px;
	}

	@media screen and (min-width: 1250px) {
		padding: 0;
	}
}

.site-content {
	min-height: 100vh;
}

@import "grid";