.subscribe-form {


	#mc_embed_signup div.mce_inline_error {
		background-color: transparent;
		position: absolute;
	}

	#mce-responses {
		padding-top: 10px;
		font-size: 0.75rem;
		line-height: 1.5em;
		max-width: 340px;

		a {
			text-decoration: underline;
		}
	}

}


.white,
.gray,
.black {
	#mc_embed_signup div.mce_inline_error {
		color: $red;
		font-family: $roboto;
		font-weight: 400;
		margin: 0;
		padding: 10px 0 0 0;
		font-size: 0.75rem;
		line-height: 1.5em;
	}

	#mc_embed_signup input.mce_inline_error {
		color: $red;
		border-color: #C4C4C4;
	}

	#mce-responses {
		color: $red;

		a {
			color: $red;
		}
	}

}

.orange {
	#mc_embed_signup div.mce_inline_error {
		color: $black;
		font-family: $roboto;
		font-weight: 400;
		margin: 0;
		padding: 10px 0 0 0;
		font-size: 0.75rem;
		line-height: 1.5em;
	}

	#mc_embed_signup input.mce_inline_error {
		color: $black;
		border-color: $black;
		border-right-color: $white;
	}

	#mce-responses {
		color: $black;

		a {
			color: $black;
		}
	}

}