@charset "UTF-8";
/*

    Theme Name: Fell Swoop
    Theme URI: https://fellswoop.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of Fell Swoop Theme
    Version: 1.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* HTML5 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Border-Box */
* {
  box-sizing: border-box; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

/* Colors */
body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Roboto", sans-serif; }

::-moz-selection {
  background: #FF6007;
  color: #FFFFFF;
  text-shadow: none; }

::selection {
  background: #FF6007;
  color: #FFFFFF;
  text-shadow: none; }

a {
  color: #000000;
  transition: all 0.2s ease-in; }
  a:hover {
    text-decoration: underline; }

.fs-link {
  font-size: 1rem; }
  @media only screen and (min-width: 62em) {
    .fs-link {
      font-size: 1.25rem; } }

h1 {
  font-size: 3rem;
  line-height: 1.125em;
  font-weight: 700; }
  @media only screen and (min-width: 48em) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.15em; } }
  @media only screen and (min-width: 75em) {
    h1 {
      font-size: 5.25rem; } }

h2 {
  font-size: 1.75rem;
  line-height: 1.25em;
  font-weight: 700; }
  @media only screen and (min-width: 48em) {
    h2 {
      font-size: 2rem; } }
  @media only screen and (min-width: 75em) {
    h2 {
      font-size: 2.25rem;
      line-height: 1.222em; } }

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.3333em; }

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3333em; }
  @media only screen and (min-width: 48em) {
    h4 {
      font-size: 1.125rem; } }
  @media only screen and (min-width: 75em) {
    h4 {
      font-size: 1.25rem;
      line-height: 1.6em; } }

h5 {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 700; }
  @media only screen and (min-width: 75em) {
    h5 {
      font-size: 1.125rem;
      line-height: 1.3333em; } }

.copy-large p {
  font-size: 1.125rem;
  line-height: 1.333em;
  font-weight: 300; }
  @media only screen and (min-width: 48em) {
    .copy-large p {
      font-size: 1rem;
      line-height: 1.5em; } }
  @media only screen and (min-width: 75em) {
    .copy-large p {
      font-size: 1.25rem;
      line-height: 1.6em; } }

.copy-medium p {
  font-size: 0.875rem;
  line-height: 1.715em;
  font-weight: 300; }
  @media only screen and (min-width: 48em) {
    .copy-medium p {
      line-height: 1.5715em; } }
  @media only screen and (min-width: 75em) {
    .copy-medium p {
      font-size: 1rem;
      line-height: 1.5em; } }

.copy-small p {
  font-size: 0.625rem;
  line-height: 1.5em;
  font-weight: 300; }
  @media only screen and (min-width: 75em) {
    .copy-small p {
      font-size: 0.875rem;
      line-height: 1.571em; } }

html {
  scrollbar-width: none;
  /* Firefox */ }

body {
  background: #f0f0f0;
  transition: background ease-in 0.3s;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  overflow-x: hidden; }
  body::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */ }

#page {
  max-width: 1920px;
  margin: 0 auto;
  background: #FFFFFF;
  overflow: hidden; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  transition: padding 0.2s ease-in; }
  @media only screen and (min-width: 62em) {
    .wrapper {
      padding: 0 50px; } }
  @media screen and (min-width: 1250px) {
    .wrapper {
      padding: 0; } }

.site-content {
  min-height: 100vh; }

.grid {
  display: grid;
  grid-template-columns: 16px 1fr 32px 1fr 16px;
  overflow: hidden; }
  @media only screen and (min-width: 37.5em) {
    .grid {
      grid-template-columns: 40px repeat(2, 1fr 32px) 1fr 40px; } }
  @media only screen and (min-width: 48em) {
    .grid {
      grid-template-columns: 40px repeat(5, 1fr 32px) 1fr 40px; } }
  @media only screen and (min-width: 62em) {
    .grid {
      grid-template-columns: 48px repeat(11, 1fr 32px) 1fr 48px; } }
  .grid > * {
    grid-column: 2 / span 3; }
    @media only screen and (min-width: 37.5em) {
      .grid > * {
        grid-column: 2 / span 5; } }
    @media only screen and (min-width: 48em) {
      .grid > * {
        grid-column: 2 / span 11; } }
    @media only screen and (min-width: 62em) {
      .grid > * {
        grid-column: 2 / span 23; } }

.mobile-wrapper {
  background: #000000;
  padding: 11.882% 5% 11.643% 5%;
  border-radius: 10px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  width: 100%; }
  @media only screen and (min-width: 62em) {
    .mobile-wrapper {
      box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1);
      border-radius: 12px; } }
  @media only screen and (min-width: 75em) {
    .mobile-wrapper {
      border-radius: 14px; } }
  @media only screen and (min-width: 100em) {
    .mobile-wrapper {
      border-radius: 16px; } }
  .mobile-wrapper .image {
    position: relative;
    border-radius: 4px; }
    .mobile-wrapper .image:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 177.86667%; }
    .mobile-wrapper .image > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .mobile-wrapper .image .content {
      border-radius: 4px; }
    .mobile-wrapper .image a, .mobile-wrapper .image img, .mobile-wrapper .image picture {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      border-radius: 4px; }

.tablet-wrapper {
  background: #000000;
  padding: 2.5% 8%;
  border-radius: 8px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1); }
  @media only screen and (min-width: 37.5em) {
    .tablet-wrapper {
      border-radius: 10px; } }
  @media only screen and (min-width: 62em) {
    .tablet-wrapper {
      border-radius: 12px;
      box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1); } }

.tablet .image {
  position: relative;
  border-radius: 4px; }
  .tablet .image:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 75%; }
  .tablet .image > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .tablet .image a, .tablet .image img, .tablet .image picture {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 4px; }

.tablet-portrait-wrapper {
  background: #000000;
  padding: 9.694% 5.372%;
  border-radius: 5px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1); }
  @media only screen and (min-width: 37.5em) {
    .tablet-portrait-wrapper {
      border-radius: 7px; } }
  @media only screen and (min-width: 62em) {
    .tablet-portrait-wrapper {
      border-radius: 10px;
      box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1); } }

.tablet-portrait .image {
  position: relative;
  border-radius: 4px; }
  .tablet-portrait .image:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 133.33333%; }
  .tablet-portrait .image > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .tablet-portrait .image a, .tablet-portrait .image img, .tablet-portrait .image picture {
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.desktop picture,
.desktop img {
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px; }
  @media only screen and (min-width: 62em) {
    .desktop picture,
    .desktop img {
      box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1);
      border-radius: 4px; } }

.subscribe-form #mc_embed_signup div.mce_inline_error {
  background-color: transparent;
  position: absolute; }

.subscribe-form #mce-responses {
  padding-top: 10px;
  font-size: 0.75rem;
  line-height: 1.5em;
  max-width: 340px; }
  .subscribe-form #mce-responses a {
    text-decoration: underline; }

.white #mc_embed_signup div.mce_inline_error,
.gray #mc_embed_signup div.mce_inline_error,
.black #mc_embed_signup div.mce_inline_error {
  color: #FF0000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 0.75rem;
  line-height: 1.5em; }

.white #mc_embed_signup input.mce_inline_error,
.gray #mc_embed_signup input.mce_inline_error,
.black #mc_embed_signup input.mce_inline_error {
  color: #FF0000;
  border-color: #C4C4C4; }

.white #mce-responses,
.gray #mce-responses,
.black #mce-responses {
  color: #FF0000; }
  .white #mce-responses a,
  .gray #mce-responses a,
  .black #mce-responses a {
    color: #FF0000; }

.orange #mc_embed_signup div.mce_inline_error {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 0.75rem;
  line-height: 1.5em; }

.orange #mc_embed_signup input.mce_inline_error {
  color: #000000;
  border-color: #000000;
  border-right-color: #FFFFFF; }

.orange #mce-responses {
  color: #000000; }
  .orange #mce-responses a {
    color: #000000; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
.site-header:before {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 16px; }
  @media only screen and (min-width: 37.5em) {
    .site-header:before {
      width: 40px; } }
  @media only screen and (min-width: 62em) {
    .site-header:before {
      width: 48px; } }

.site-header.orange {
  background: #FF6007; }
  @media only screen and (min-width: 62em) {
    .site-header.orange {
      background: transparent; }
      .site-header.orange .site-logo {
        background: #FF6007; }
      .site-header.orange:before {
        background: #FF6007; } }

.site-header.black {
  background: #000000; }
  @media only screen and (min-width: 62em) {
    .site-header.black {
      background: transparent; }
      .site-header.black .site-logo {
        background: #000000; }
      .site-header.black:before {
        background: #000000; } }

.site-header.gray {
  background: #F0F0F0; }
  @media only screen and (min-width: 62em) {
    .site-header.gray {
      background: transparent; }
      .site-header.gray .site-logo {
        background: #F0F0F0; }
      .site-header.gray:before {
        background: #F0F0F0; } }

.site-header.white {
  background: #FFFFFF; }

.site-header .site-logo {
  padding: 20px 0;
  grid-column: 2 / span 1; }
  @media only screen and (min-width: 48em) {
    .site-header .site-logo {
      padding: 40px 0;
      grid-column: 2 / span 6; } }
  @media only screen and (min-width: 62em) {
    .site-header .site-logo {
      grid-column: 2 / span 21; } }
  .site-header .site-logo a {
    display: block;
    width: 154px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%; }
    @media only screen and (min-width: 48em) {
      .site-header .site-logo a {
        width: 184px;
        height: 48px; } }
    .site-header .site-logo a span {
      display: block;
      visibility: hidden; }

.site-header.orange .site-logo a {
  background-image: url(images/logo-white-white.svg); }

.site-header.black .site-logo a {
  background-image: url(images/logo-orange-white.svg); }

.site-header.gray .site-logo a {
  background-image: url(images/logo-orange-black.svg); }

.site-header.white .site-logo a {
  background-image: url(images/logo-orange-black.svg); }

.site-header .hamburger {
  padding-top: 30px;
  grid-column: 4 / span 1; }
  @media only screen and (min-width: 37.5em) {
    .site-header .hamburger {
      grid-column: 6 / span 1; } }
  @media only screen and (min-width: 48em) {
    .site-header .hamburger {
      grid-column: 8 / span 5;
      padding-top: 55px; } }
  @media only screen and (min-width: 62em) {
    .site-header .hamburger {
      grid-column: 24 / span 1; } }
  .site-header .hamburger .nav-trigger {
    width: 24px;
    height: 22px;
    display: flex;
    align-items: center;
    margin-left: auto; }
    @media only screen and (min-width: 62em) {
      .site-header .hamburger .nav-trigger {
        margin-right: auto;
        margin-left: 0; } }
  .site-header .hamburger .patty {
    width: 24px;
    height: 4px;
    margin-left: auto;
    transition: all 0.2s; }
    .site-header .hamburger .patty:before, .site-header .hamburger .patty:after {
      content: '';
      display: block;
      width: 24px;
      height: 4px;
      position: absolute;
      z-index: 1;
      transition: all 0.2s; }
    .site-header .hamburger .patty:before {
      top: -8px; }
    .site-header .hamburger .patty:after {
      top: 8px; }

.site-header.orange .hamburger .patty,
.site-header.orange .hamburger .patty:before,
.site-header.orange .hamburger .patty:after {
  background: #FFFFFF; }
  @media only screen and (min-width: 62em) {
    .site-header.orange .hamburger .patty,
    .site-header.orange .hamburger .patty:before,
    .site-header.orange .hamburger .patty:after {
      background: #FF6007; } }

.site-header.black .hamburger .patty,
.site-header.black .hamburger .patty:before,
.site-header.black .hamburger .patty:after {
  background: #FF6007; }

.site-header.gray .hamburger .patty,
.site-header.gray .hamburger .patty:before,
.site-header.gray .hamburger .patty:after {
  background: #FF6007; }

.site-header.white .hamburger .patty,
.site-header.white .hamburger .patty:before,
.site-header.white .hamburger .patty:after {
  background: #FF6007; }

.site-nav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -100vw;
  z-index: -1;
  opacity: 0;
  transition: opacity ease-in 0.3s;
  overflow: hidden; }
  .site-nav .content {
    padding: 100px 0 0 0;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none; }
    .site-nav .content::-webkit-scrollbar {
      width: 0 !important; }
    @media only screen and (min-width: 48em) {
      .site-nav .content {
        padding: 175px 0 0 0;
        display: grid;
        gap: 0 32px;
        grid-template-columns: repeat(6, 1fr); } }
    @media only screen and (min-width: 62em) {
      .site-nav .content {
        grid-template-columns: repeat(12, 1fr); } }
  .site-nav .nav-header h3 {
    font-weight: bold; }
  @media only screen and (min-width: 48em) {
    .site-nav .case-study-links {
      grid-column: 1 / span 3;
      padding-bottom: 100px; } }
  @media only screen and (min-width: 62em) {
    .site-nav .case-study-links {
      grid-column: 4 / span 4; } }
  .site-nav .link {
    padding-top: 30px; }
    .site-nav .link a {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.3333em; }
      .site-nav .link a:hover {
        text-decoration: underline; }
  .site-nav .contact-info {
    padding: 60px 0 100px 0; }
    @media only screen and (min-width: 48em) {
      .site-nav .contact-info {
        padding: 0;
        grid-column: 4 / span 3; } }
    @media only screen and (min-width: 62em) {
      .site-nav .contact-info {
        grid-column: 8 / span 4; } }
    .site-nav .contact-info .contact-details {
      padding-top: 20px; }
      .site-nav .contact-info .contact-details p {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 2.3333em; }
        .site-nav .contact-info .contact-details p span {
          display: block; }
        .site-nav .contact-info .contact-details p a {
          display: inline-block; }
          .site-nav .contact-info .contact-details p a:hover {
            text-decoration: underline; }
  .site-nav .subscribe-form {
    display: none; }
    .site-nav .subscribe-form #mc_embed_signup_scroll {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
    .site-nav .subscribe-form .mc-field-group {
      width: 100%;
      max-width: 240px; }
    .site-nav .subscribe-form .submit-btn {
      flex: 1; }
    .site-nav .subscribe-form input.email {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      height: 56px;
      line-height: 1em;
      padding: 0 15px;
      font-weight: 300;
      font-size: 1rem;
      width: 100%; }
      .site-nav .subscribe-form input.email::-webkit-input-placeholder {
        color: #666; }
      .site-nav .subscribe-form input.email::-moz-placeholder {
        color: #666; }
      .site-nav .subscribe-form input.email:-moz-placeholder {
        color: #666; }
      .site-nav .subscribe-form input.email:-ms-input-placeholder {
        color: #666; }
      .site-nav .subscribe-form input.email:active, .site-nav .subscribe-form input.email:focus {
        outline: none; }
    .site-nav .subscribe-form input.button {
      margin-right: auto;
      height: 56px;
      line-height: 1em;
      border: none;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      font-size: 1rem;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      padding: 2px 25px 0 25px;
      transition: all 0.2s ease-in; }
      .site-nav .subscribe-form input.button:active, .site-nav .subscribe-form input.button:focus {
        outline: none; }
  .site-nav.orange {
    background-color: #FF6007;
    color: #FFFFFF; }
    .site-nav.orange a {
      color: #FFFFFF; }
    .site-nav.orange .subscribe-form input.email {
      border: 1px solid #FFFFFF;
      color: #FFFFFF;
      background: transparent; }
      .site-nav.orange .subscribe-form input.email::-webkit-input-placeholder {
        color: #FFFFFF; }
      .site-nav.orange .subscribe-form input.email::-moz-placeholder {
        color: #FFFFFF; }
      .site-nav.orange .subscribe-form input.email:-moz-placeholder {
        color: #FFFFFF; }
      .site-nav.orange .subscribe-form input.email:-ms-input-placeholder {
        color: #FFFFFF; }
    .site-nav.orange .subscribe-form input.button {
      background: #FFFFFF;
      color: #FF6007;
      border: 1px solid #FFFFFF; }
      .site-nav.orange .subscribe-form input.button:hover {
        background: #000000;
        color: #FFFFFF;
        border: 1px solid #000000; }
  .site-nav.black {
    background-color: #000000;
    color: #FFFFFF; }
    .site-nav.black a {
      color: #FFFFFF; }
    .site-nav.black .subscribe-form input.email {
      border: 1px solid #FFFFFF;
      border-right: none;
      color: #FFFFFF;
      background: transparent; }
      .site-nav.black .subscribe-form input.email::-webkit-input-placeholder {
        color: #FFFFFF; }
      .site-nav.black .subscribe-form input.email::-moz-placeholder {
        color: #FFFFFF; }
      .site-nav.black .subscribe-form input.email:-moz-placeholder {
        color: #FFFFFF; }
      .site-nav.black .subscribe-form input.email:-ms-input-placeholder {
        color: #FFFFFF; }
    .site-nav.black .subscribe-form input.button {
      background: #FFFFFF;
      color: #000000;
      border: 1px solid #FFFFFF; }
  .site-nav.gray {
    background-color: #F0F0F0;
    color: #000000; }
    .site-nav.gray .subscribe-form input.email {
      border: 1px solid #000000;
      border-right: none;
      color: #000000;
      background: transparent; }
    .site-nav.gray .subscribe-form input.button {
      background: #000000;
      color: #FFFFFF;
      border: 1px solid #000000;
      border-left: 1px solid #000000; }
      .site-nav.gray .subscribe-form input.button:hover {
        background: #000000;
        color: #FFFFFF;
        border: 1px solid #000000; }
  .site-nav.white {
    background-color: #FFFFFF;
    color: #000000; }
    .site-nav.white .subscribe-form input.email {
      border: 1px solid #000000;
      border-right: none;
      color: #000000; }
    .site-nav.white .subscribe-form input.button {
      background: #000000;
      color: #FFFFFF;
      border: 1px solid #000000;
      border-left: 1px solid #000000; }
      .site-nav.white .subscribe-form input.button:hover {
        background: #000000;
        color: #FFFFFF;
        border: 1px solid #000000; }

.nav-open {
  overflow: hidden; }
  .nav-open .site-header {
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .nav-open .site-header .hamburger .patty {
      background: none; }
      .nav-open .site-header .hamburger .patty:before {
        top: 0;
        transform: rotate(-45deg); }
      .nav-open .site-header .hamburger .patty:after {
        top: 0;
        transform: rotate(45deg); }
    .nav-open .site-header.orange {
      background: #FF6007; }
      @media only screen and (min-width: 62em) {
        .nav-open .site-header.orange {
          background: transparent; } }
      .nav-open .site-header.orange .hamburger .patty:before,
      .nav-open .site-header.orange .hamburger .patty:after {
        background: #FFFFFF; }
    .nav-open .site-header.white {
      background: #FFFFFF; }
      @media only screen and (min-width: 62em) {
        .nav-open .site-header.white {
          background: transparent; } }
  .nav-open .site-nav {
    opacity: 1;
    z-index: 100;
    left: 0; }
  .nav-open .case-study-hero .project-sub-headline {
    padding-top: 88px; }
    @media only screen and (min-width: 48em) {
      .nav-open .case-study-hero .project-sub-headline {
        padding-top: 128px; } }
  .nav-open.orange {
    background: #FF6007; }
  .nav-open.black {
    background: #000000; }
  .nav-open.white {
    background: #FFFFFF; }
  .nav-open.gray {
    background: #F0F0F0; }

body.page-template-homepage .site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent; }
  body.page-template-homepage .site-header:before {
    background: transparent; }
  body.page-template-homepage .site-header .site-logo {
    background: transparent; }

body.page-template-homepage.nav-open .site-header {
  z-index: 200; }

.site-footer {
  padding: 60px 0 40px 0; }
  @media only screen and (min-width: 75em) {
    .site-footer {
      padding: 90px 0; } }
  .site-footer .logo {
    max-width: 44px; }
    @media only screen and (min-width: 62em) {
      .site-footer .logo {
        grid-column: 4 / span 1;
        display: flex;
        align-items: center; } }
    .site-footer .logo a {
      display: block; }
  .site-footer .contact-info {
    padding-top: 40px; }
    @media only screen and (min-width: 62em) {
      .site-footer .contact-info {
        padding-top: 0;
        grid-column: 6 / span 19; } }
    @media only screen and (min-width: 75em) {
      .site-footer .contact-info {
        grid-column: 5 / span 14; } }
    @media only screen and (min-width: 100em) {
      .site-footer .contact-info {
        margin-left: -35px; } }
    @media only screen and (min-width: 120em) {
      .site-footer .contact-info {
        margin-left: -55px; } }
    .site-footer .contact-info h3 {
      line-height: 2.3333em;
      color: #FF6007; }
      @media only screen and (min-width: 62em) {
        .site-footer .contact-info h3 {
          line-height: 1em;
          display: flex;
          align-items: center;
          height: 56px; } }
      .site-footer .contact-info h3 span.contact-item {
        display: block; }
        @media only screen and (min-width: 62em) {
          .site-footer .contact-info h3 span.contact-item {
            display: flex;
            align-items: center; }
            .site-footer .contact-info h3 span.contact-item + span.contact-item {
              padding-left: 20px; }
              .site-footer .contact-info h3 span.contact-item + span.contact-item:before {
                content: '·';
                margin-right: 20px;
                font-weight: bold; } }
        @media only screen and (min-width: 75em) {
          .site-footer .contact-info h3 span.contact-item + span.contact-item {
            padding-left: 10px; }
            .site-footer .contact-info h3 span.contact-item + span.contact-item:before {
              margin-right: 10px; } }
        @media only screen and (min-width: 100em) {
          .site-footer .contact-info h3 span.contact-item + span.contact-item {
            padding-left: 20px; }
            .site-footer .contact-info h3 span.contact-item + span.contact-item:before {
              margin-right: 20px; } }
      .site-footer .contact-info h3 a {
        color: #FF6007; }
  .site-footer .subscribe-form {
    display: none; }
    @media only screen and (min-width: 62em) {
      .site-footer .subscribe-form form {
        width: 240px;
        position: absolute;
        top: -28px;
        left: 0; } }
    @media only screen and (min-width: 81.25em) {
      .site-footer .subscribe-form form {
        width: 320px; } }
    @media only screen and (min-width: 100em) {
      .site-footer .subscribe-form form {
        width: 340px; } }
    .site-footer .subscribe-form #mc_embed_signup_scroll {
      display: flex;
      align-items: center; }
    .site-footer .subscribe-form .mc-field-group {
      width: 100%;
      max-width: 240px; }
      @media only screen and (min-width: 62em) {
        .site-footer .subscribe-form .mc-field-group {
          max-width: 153px; } }
      @media only screen and (min-width: 75em) {
        .site-footer .subscribe-form .mc-field-group {
          max-width: 240px; } }
    .site-footer .subscribe-form .submit-btn {
      flex: 1; }
    .site-footer .subscribe-form input.email {
      border: 1px solid #FF6007;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      height: 56px;
      line-height: 1em;
      padding: 0 15px;
      font-weight: 300;
      font-size: 1rem;
      color: #000000;
      width: 100%; }
      .site-footer .subscribe-form input.email::-webkit-input-placeholder {
        color: #aaa; }
      .site-footer .subscribe-form input.email::-moz-placeholder {
        color: #aaa; }
      .site-footer .subscribe-form input.email:-moz-placeholder {
        color: #aaa; }
      .site-footer .subscribe-form input.email:-ms-input-placeholder {
        color: #aaa; }
      .site-footer .subscribe-form input.email:active, .site-footer .subscribe-form input.email:focus {
        outline: none; }
    .site-footer .subscribe-form input.button {
      height: 56px;
      line-height: 1em;
      background: #FF6007;
      color: #FFFFFF;
      border: none;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      font-size: 1rem;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      padding: 2px 25px 0 25px; }
      .site-footer .subscribe-form input.button:active, .site-footer .subscribe-form input.button:focus {
        outline: none; }
  .site-footer .copyright {
    padding-top: 80px; }
    @media only screen and (min-width: 62em) {
      .site-footer .copyright {
        text-align: center; } }
    @media only screen and (min-width: 75em) {
      .site-footer .copyright {
        padding-top: 0;
        text-align: left;
        grid-column: 19 / span 4;
        margin-left: auto;
        display: flex;
        align-items: center; } }

/*

    ----------------------------------------------------------------------
                               03 Template Parts
    ----------------------------------------------------------------------

*/
.home-hero {
  height: 100vh;
  max-height: 560px; }
  .home-hero:before {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 16px; }
    @media only screen and (min-width: 37.5em) {
      .home-hero:before {
        width: 40px; } }
    @media only screen and (min-width: 62em) {
      .home-hero:before {
        width: 48px; } }
  @media only screen and (min-width: 75em) {
    .home-hero {
      max-height: 680px; } }
  @media only screen and (min-width: 100em) {
    .home-hero {
      max-height: 977px; } }
  .home-hero.orange {
    background: #FF6007; }
    @media only screen and (min-width: 62em) {
      .home-hero.orange {
        background: #FFFFFF; } }
    .home-hero.orange:before {
      background: #FF6007; }
    .home-hero.orange .content {
      background-color: #FF6007;
      color: #FFFFFF; }
    .home-hero.orange h3 a {
      color: #FFFFFF; }
  .home-hero.black {
    background: #000000; }
    @media only screen and (min-width: 62em) {
      .home-hero.black {
        background: #FFFFFF; } }
    .home-hero.black:before {
      background: #000000; }
    .home-hero.black .content {
      background-color: #000000;
      color: #FFFFFF; }
  .home-hero.gray {
    background: #F0F0F0; }
    @media only screen and (min-width: 62em) {
      .home-hero.gray {
        background: #FFFFFF; } }
    .home-hero.gray:before {
      background: #F0F0F0; }
    .home-hero.gray .content {
      background-color: #F0F0F0;
      color: #000000; }
  .home-hero.white {
    background: #FFFFFF; }
    .home-hero.white:before {
      background: #FFFFFF; }
    .home-hero.white .content {
      background-color: #FFFFFF;
      color: #000000; }
  .home-hero .content {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 341px 389px; }
    @media only screen and (min-width: 48em) {
      .home-hero .content {
        background-position: top -70px center;
        background-size: 567px 566px; } }
    @media only screen and (min-width: 62em) {
      .home-hero .content {
        grid-column: 1 / 23;
        background-position: top -125px center;
        background-size: 630px 633px; } }
    @media only screen and (min-width: 75em) {
      .home-hero .content {
        background-position: top -150px center;
        background-size: 770px 769px; } }
    @media only screen and (min-width: 100em) {
      .home-hero .content {
        background-position: top -90px center;
        background-size: 862px 860px; } }
    .home-hero .content .flex-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 0;
      height: 100%; }
  @media only screen and (min-width: 62em) {
    .home-hero .flex-wrapper > * {
      display: grid;
      grid-template-columns: 48px repeat(10, 1fr 32px) 1fr; } }
  .home-hero .headline {
    padding: 0 0 30px 0;
    margin-top: auto; }
    @media only screen and (min-width: 37.5em) {
      .home-hero .headline {
        padding: 50px 0 30px 0; } }
    @media only screen and (min-width: 48em) {
      .home-hero .headline {
        padding-bottom: 10px; } }
    @media only screen and (min-width: 62em) {
      .home-hero .headline h1 {
        grid-column: 4 / span 18; } }
  .home-hero .copy-large p {
    font-size: 1rem;
    line-height: 1.5em; }
    @media only screen and (min-width: 62em) {
      .home-hero .copy-large p {
        grid-column: 4 / span 13; } }
  @media only screen and (min-width: 48em) {
    .home-hero .copy-large br {
      display: none; } }
  .home-hero .select-work {
    margin-top: auto; }
    .home-hero .select-work h3 {
      display: flex;
      align-items: center; }
      .home-hero .select-work h3:after {
        display: inline-block;
        content: "";
        margin-left: 20px;
        width: 14px;
        height: 18px;
        background: url(images/down-arrow-white.svg) no-repeat 0 0;
        background-size: 100%; }
      @media only screen and (min-width: 62em) {
        .home-hero .select-work h3 {
          grid-column: 6 / span 6; } }

.case-study-hero:before {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 16px; }
  @media only screen and (min-width: 37.5em) {
    .case-study-hero:before {
      width: 40px; } }
  @media only screen and (min-width: 62em) {
    .case-study-hero:before {
      width: 48px; } }

.case-study-hero .content {
  padding-top: 40px;
  display: grid;
  gap: 0 32px;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (min-width: 48em) {
    .case-study-hero .content {
      grid-template-columns: repeat(6, 1fr); } }
  @media only screen and (min-width: 62em) {
    .case-study-hero .content {
      padding-top: 120px;
      grid-column: 2 / span 21;
      grid-template-columns: repeat(11, 1fr); } }
  .case-study-hero .content.open {
    padding-bottom: 64px; }
  .case-study-hero .content > * {
    grid-column: 1/-1; }

.case-study-hero .project-sub-headline {
  display: flex;
  align-items: center;
  padding-bottom: 40px; }
  @media only screen and (min-width: 62em) {
    .case-study-hero .project-sub-headline {
      grid-column: 2 / span 4; } }
  .case-study-hero .project-sub-headline .project-name h5 {
    line-height: 1em; }
  .case-study-hero .project-sub-headline .separator {
    height: 34px;
    width: 1px;
    background: #FF6007;
    margin: 0 10px; }
  .case-study-hero .project-sub-headline .project-type {
    padding-top: 2px; }
    .case-study-hero .project-sub-headline .project-type p {
      line-height: 1em; }

.case-study-hero .project-headline {
  padding-bottom: 40px; }
  @media only screen and (min-width: 62em) {
    .case-study-hero .project-headline {
      grid-column: 2 / span 9; } }
  @media only screen and (min-width: 75em) {
    .case-study-hero .project-headline {
      grid-column: 2 / span 6; } }
  @media only screen and (min-width: 100em) {
    .case-study-hero .project-headline {
      grid-column: 2 / span 5; } }
  .case-study-hero .project-headline h1 {
    font-size: 2.25rem;
    line-height: 1.2222em; }
    @media only screen and (min-width: 48em) {
      .case-study-hero .project-headline h1 {
        font-size: 2.5rem;
        line-height: 1.2em; } }
    @media only screen and (min-width: 62em) {
      .case-study-hero .project-headline h1 {
        font-size: 3rem;
        line-height: 1.1666em; } }

.case-study-hero .toggle-link {
  padding-bottom: 64px; }
  @media only screen and (min-width: 62em) {
    .case-study-hero .toggle-link {
      grid-column: 2 / span 4; } }
  .case-study-hero .toggle-link a {
    color: #FF6007;
    font-size: 1.25rem;
    font-weight: 300; }

.case-study-hero .project-description {
  overflow: hidden;
  height: 0; }
  @media only screen and (min-width: 62em) {
    .case-study-hero .project-description {
      grid-column: 3 / span 8; } }
  @media only screen and (min-width: 100em) {
    .case-study-hero .project-description {
      grid-column: 3 / span 6; } }
  .case-study-hero .project-description h5 {
    padding-bottom: 5px; }
  .case-study-hero .project-description p {
    padding-bottom: 16px; }
  .case-study-hero .project-description p + h5 {
    padding-top: 14px; }

.case-study-hero.orange {
  background: #FF6007;
  color: #FFFFFF; }
  @media only screen and (min-width: 62em) {
    .case-study-hero.orange {
      background: transparent; }
      .case-study-hero.orange:before {
        background: #FF6007; }
      .case-study-hero.orange .content {
        background: #FF6007; } }
  .case-study-hero.orange .project-sub-headline .separator {
    background: #FFFFFF; }
  .case-study-hero.orange .toggle-link a {
    color: #FFFFFF; }

.case-study-hero.black {
  background: #000000;
  color: #FFFFFF; }
  @media only screen and (min-width: 62em) {
    .case-study-hero.black {
      background: transparent; }
      .case-study-hero.black:before {
        background: #000000; }
      .case-study-hero.black .content {
        background: #000000; } }

.case-study-hero.gray {
  background: #F0F0F0;
  color: #000000; }
  @media only screen and (min-width: 62em) {
    .case-study-hero.gray {
      background: transparent; }
      .case-study-hero.gray:before {
        background: #F0F0F0; }
      .case-study-hero.gray .content {
        background: #F0F0F0; } }

.case-study-hero.white {
  background: #FFFFFF;
  color: #000000; }
  @media only screen and (min-width: 62em) {
    .case-study-hero.white {
      background: transparent; }
      .case-study-hero.white:before {
        background: #FFFFFF; }
      .case-study-hero.white .content {
        background: #FFFFFF; } }

.aligned-image img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.aligned-image.full-bleed picture,
.aligned-image.full-bleed img {
  grid-column: 1 / -1; }

.aligned-image.left picture,
.aligned-image.left img {
  grid-column: 1 / span 4; }
  @media only screen and (min-width: 37.5em) {
    .aligned-image.left picture,
    .aligned-image.left img {
      grid-column: 1 / span 6; } }
  @media only screen and (min-width: 48em) {
    .aligned-image.left picture,
    .aligned-image.left img {
      grid-column: 1 / span 12; } }
  @media only screen and (min-width: 62em) {
    .aligned-image.left picture,
    .aligned-image.left img {
      grid-column: 1 / span 22; } }

.aligned-image.right picture,
.aligned-image.right img {
  grid-column: 2 / span 4; }
  @media only screen and (min-width: 37.5em) {
    .aligned-image.right picture,
    .aligned-image.right img {
      grid-column: 2 / span 6; } }
  @media only screen and (min-width: 48em) {
    .aligned-image.right picture,
    .aligned-image.right img {
      grid-column: 2 / span 12; } }
  @media only screen and (min-width: 62em) {
    .aligned-image.right picture,
    .aligned-image.right img {
      grid-column: 4 / span 22; } }

.aligned-image.orange {
  background-color: #FF6007; }

.aligned-image.black {
  background-color: #000000; }

.aligned-image.dark-gray {
  background-color: #8C8C8C; }

.aligned-image.gray {
  background-color: #F0F0F0; }

.aligned-image.white {
  background-color: #FFFFFF; }

@media only screen and (min-width: 62em) {
  .desktop-mobile:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%; } }

@media only screen and (min-width: 62em) {
  .desktop-mobile.section-left .project-info {
    grid-column: 2 / span 3;
    text-align: right; }
  .desktop-mobile.section-left .screenshots {
    grid-column: 6 / span 13; }
  .desktop-mobile.section-left:before {
    grid-column: 23 / span 3;
    width: calc(100% + 1px); } }

@media only screen and (min-width: 62em) {
  .desktop-mobile.section-right {
    grid-column: 1 / span 3; }
    .desktop-mobile.section-right:before {
      grid-column: 1 / span 3; }
    .desktop-mobile.section-right .screenshots {
      grid-column: 8 / span 13; }
    .desktop-mobile.section-right .project-info {
      grid-column: 22 / span 3; } }

.desktop-mobile.phone-left .desktop {
  margin-left: auto; }
  @media only screen and (min-width: 48em) {
    .desktop-mobile.phone-left .desktop {
      margin-left: 0; } }

.desktop-mobile.phone-left .mobile {
  left: 0; }
  @media only screen and (min-width: 48em) {
    .desktop-mobile.phone-left .mobile {
      transform: translateX(-66.6666%); } }
  @media only screen and (min-width: 62em) {
    .desktop-mobile.phone-left .mobile {
      transform: translateX(-63.6666%); } }
  @media only screen and (min-width: 75em) {
    .desktop-mobile.phone-left .mobile {
      transform: translateX(-50%); } }
  @media only screen and (min-width: 120em) {
    .desktop-mobile.phone-left .mobile {
      transform: translateX(-55%); } }

@media only screen and (min-width: 62em) {
  .desktop-mobile.phone-left.section-left .screenshots {
    grid-column: 8 / span 13; } }

.desktop-mobile.phone-right .mobile {
  right: 0; }
  @media only screen and (min-width: 48em) {
    .desktop-mobile.phone-right .mobile {
      transform: translateX(66.6666%); } }
  @media only screen and (min-width: 62em) {
    .desktop-mobile.phone-right .mobile {
      transform: translateX(63.6666%); } }
  @media only screen and (min-width: 75em) {
    .desktop-mobile.phone-right .mobile {
      transform: translateX(50%); } }
  @media only screen and (min-width: 120em) {
    .desktop-mobile.phone-right .mobile {
      transform: translateX(55%); } }

@media only screen and (min-width: 62em) {
  .desktop-mobile.phone-right.section-right .screenshots {
    grid-column: 6 / span 13; } }

@media only screen and (min-width: 62em) {
  .desktop-mobile.no-links.section-left .screenshots {
    grid-column: 4 / span 13; } }

@media only screen and (min-width: 62em) {
  .desktop-mobile.no-links.section-left.phone-left .screenshots {
    grid-column: 6 / span 13; } }

@media only screen and (min-width: 62em) {
  .desktop-mobile.no-links.section-right .screenshots {
    grid-column: 10 / span 13; } }

@media only screen and (min-width: 62em) {
  .desktop-mobile.no-links.section-right.phone-right .screenshots {
    grid-column: 8 / span 13; } }

.desktop-mobile.no-links .screenshots {
  padding-top: 64px; }
  @media only screen and (min-width: 48em) {
    .desktop-mobile.no-links .screenshots {
      padding-top: 72px; } }
  @media only screen and (min-width: 75em) {
    .desktop-mobile.no-links .screenshots {
      padding-top: 160px; } }

.desktop-mobile .desktop a {
  display: block; }

.desktop-mobile .desktop picture, .desktop-mobile .desktop img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.desktop-mobile .project-info {
  padding: 64px 0 20px 0; }
  @media only screen and (min-width: 48em) {
    .desktop-mobile .project-info {
      grid-column: 4 / span 7;
      padding: 72px 0 24px 0; } }
  @media only screen and (min-width: 62em) {
    .desktop-mobile .project-info {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 72px 0 0 0;
      grid-row: 1; } }
  @media only screen and (min-width: 75em) {
    .desktop-mobile .project-info {
      padding-top: 160px; } }
  .desktop-mobile .project-info.copy-medium p {
    width: 100%; }
  .desktop-mobile .project-info strong {
    display: block; }
  .desktop-mobile .project-info a {
    display: inline-block; }
    .desktop-mobile .project-info a:hover {
      cursor: pointer; }

.desktop-mobile .screenshots {
  margin-bottom: -2px; }
  @media only screen and (min-width: 48em) {
    .desktop-mobile .screenshots {
      grid-column: 4 / span 7; } }
  @media only screen and (min-width: 62em) {
    .desktop-mobile .screenshots {
      grid-row: 1;
      padding-top: 88px; } }
  @media only screen and (min-width: 75em) {
    .desktop-mobile .screenshots {
      padding-top: 160px; } }
  .desktop-mobile .screenshots .desktop {
    width: 88%; }
    @media only screen and (min-width: 48em) {
      .desktop-mobile .screenshots .desktop {
        width: 100%; } }
  .desktop-mobile .screenshots .mobile {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 112px;
    padding-top: 64px; }
    @media only screen and (min-width: 37.5em) {
      .desktop-mobile .screenshots .mobile {
        max-width: 124px; } }
    @media only screen and (min-width: 48em) {
      .desktop-mobile .screenshots .mobile {
        padding-top: 72px; } }
    @media only screen and (min-width: 75em) {
      .desktop-mobile .screenshots .mobile {
        max-width: 194px;
        padding-top: 160px; } }
    @media only screen and (min-width: 100em) {
      .desktop-mobile .screenshots .mobile {
        max-width: 224px; } }
    @media only screen and (min-width: 120em) {
      .desktop-mobile .screenshots .mobile {
        max-width: 282px; } }
    .desktop-mobile .screenshots .mobile a {
      display: block;
      width: 100%; }

.desktop-mobile.gray {
  background-color: #F0F0F0; }
  .desktop-mobile.gray:before {
    background: #FFFFFF; }

.desktop-mobile.black {
  background-color: #000000; }
  .desktop-mobile.black:before {
    background: #FFFFFF; }
  .desktop-mobile.black .project-info a {
    color: #FFFFFF; }

.desktop-mobile.white {
  background-color: #FFFFFF; }
  .desktop-mobile.white:before {
    background: #F0F0F0; }

.desktop-mobile.dark-gray {
  background: #8C8C8C;
  color: #FFFFFF; }
  .desktop-mobile.dark-gray:before {
    background: #F0F0F0; }
  .desktop-mobile.dark-gray .project-info a {
    color: #FFFFFF; }

@media only screen and (min-width: 62em) {
  .inset-image.section-left:before, .inset-image.section-right:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    grid-row: 1; } }

@media only screen and (min-width: 37.5em) {
  .inset-image.section-full-bleed.type-mobile .screenshot {
    grid-column: 4 / span 1;
    grid-row: 2; } }

@media only screen and (min-width: 48em) {
  .inset-image.section-full-bleed.type-mobile .screenshot {
    grid-column: 6 / span 3; } }

@media only screen and (min-width: 62em) {
  .inset-image.section-full-bleed.type-mobile .screenshot {
    grid-column: 12 / span 5; } }

@media only screen and (min-width: 37.5em) {
  .inset-image.section-full-bleed.type-mobile.has-links .screenshot {
    padding-top: 0; } }

@media only screen and (min-width: 37.5em) {
  .inset-image.section-full-bleed.type-mobile.has-links .project-info {
    grid-column: 4 / span 1;
    grid-row: 1; } }

@media only screen and (min-width: 48em) {
  .inset-image.section-full-bleed.type-mobile.has-links .project-info {
    padding: 64px 0 24px 0;
    grid-column: 6 / span 3; } }

@media only screen and (min-width: 62em) {
  .inset-image.section-full-bleed.type-mobile.has-links .project-info {
    grid-column: 12 / span 5;
    padding-top: 72px; } }

@media only screen and (min-width: 75em) {
  .inset-image.section-full-bleed.type-mobile.has-links .project-info {
    padding-top: 160px; } }

@media only screen and (min-width: 62em) {
  .inset-image.section-full-bleed.type-desktop .screenshot, .inset-image.section-full-bleed.type-tablet .screenshot {
    grid-column: 6 / span 15; } }

@media only screen and (min-width: 37.5em) {
  .inset-image.section-full-bleed.type-desktop.has-links .screenshot, .inset-image.section-full-bleed.type-tablet.has-links .screenshot {
    padding-top: 0; } }

@media only screen and (min-width: 48em) {
  .inset-image.section-full-bleed.type-desktop.has-links .project-info, .inset-image.section-full-bleed.type-tablet.has-links .project-info {
    grid-column: 2 / span 11; } }

@media only screen and (min-width: 62em) {
  .inset-image.section-full-bleed.type-desktop.has-links .project-info, .inset-image.section-full-bleed.type-tablet.has-links .project-info {
    grid-column: 6 / span 15;
    padding: 72px 0 24px 0; } }

@media only screen and (min-width: 75em) {
  .inset-image.section-full-bleed.type-desktop.has-links .project-info, .inset-image.section-full-bleed.type-tablet.has-links .project-info {
    padding-top: 160px; } }

.inset-image.has-links .screenshot {
  padding: 0 0 64px 0; }
  @media only screen and (min-width: 37.5em) {
    .inset-image.has-links .screenshot {
      padding: 24px 0 64px 0; } }
  @media only screen and (min-width: 62em) {
    .inset-image.has-links .screenshot {
      padding: 88px 0; } }
  @media only screen and (min-width: 75em) {
    .inset-image.has-links .screenshot {
      padding: 160px 0; } }

.inset-image.has-links .project-info {
  padding: 64px 0 20px 0; }
  @media only screen and (min-width: 48em) {
    .inset-image.has-links .project-info {
      grid-column: 4 / span 7;
      padding: 72px 0 0 0; } }
  @media only screen and (min-width: 62em) {
    .inset-image.has-links .project-info {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0;
      grid-row: 1; } }
  .inset-image.has-links .project-info.copy-medium p {
    width: 100%; }
    @media only screen and (min-width: 62em) {
      .inset-image.has-links .project-info.copy-medium p {
        line-height: 1.25em; }
        .inset-image.has-links .project-info.copy-medium p strong {
          padding-bottom: 5px; } }
  .inset-image.has-links .project-info strong {
    display: block; }
  .inset-image.has-links .project-info a {
    display: inline-block; }
    .inset-image.has-links .project-info a:hover {
      cursor: pointer; }

.inset-image.no-links .screenshot {
  padding: 64px 0; }
  @media only screen and (min-width: 62em) {
    .inset-image.no-links .screenshot {
      padding: 88px 0; } }
  @media only screen and (min-width: 75em) {
    .inset-image.no-links .screenshot {
      padding: 160px 0; } }

.inset-image.type-mobile .project-info,
.inset-image.type-mobile .screenshot {
  max-width: 50%;
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 37.5em) {
    .inset-image.type-mobile .project-info,
    .inset-image.type-mobile .screenshot {
      max-width: 100%;
      margin: 0; } }

.inset-image.type-mobile.no-links.section-left .screenshot, .inset-image.type-mobile.no-links.section-right .screenshot {
  grid-column: 2 / span 3; }
  @media only screen and (min-width: 37.5em) {
    .inset-image.type-mobile.no-links.section-left .screenshot, .inset-image.type-mobile.no-links.section-right .screenshot {
      grid-column: 3 / span 3; } }
  @media only screen and (min-width: 48em) {
    .inset-image.type-mobile.no-links.section-left .screenshot, .inset-image.type-mobile.no-links.section-right .screenshot {
      grid-column: 6 / span 3; } }
  @media only screen and (min-width: 62em) {
    .inset-image.type-mobile.no-links.section-left .screenshot, .inset-image.type-mobile.no-links.section-right .screenshot {
      grid-column: 10 / span 7; } }

@media only screen and (min-width: 37.5em) {
  .inset-image.type-mobile.has-links.section-left .project-info {
    grid-column: 1 / span 2;
    text-align: right;
    padding: 0;
    display: flex;
    align-items: center; }
  .inset-image.type-mobile.has-links.section-left .screenshot {
    grid-column: 4 / span 1; } }

@media only screen and (min-width: 48em) {
  .inset-image.type-mobile.has-links.section-left .project-info {
    grid-column: 4 / span 1; }
  .inset-image.type-mobile.has-links.section-left .screenshot {
    grid-column: 6 / span 3; } }

@media only screen and (min-width: 62em) {
  .inset-image.type-mobile.has-links.section-left .project-info {
    grid-column: 8 / span 3; }
  .inset-image.type-mobile.has-links.section-left .screenshot {
    grid-column: 12 / span 5; } }

@media only screen and (min-width: 37.5em) {
  .inset-image.type-mobile.has-links.section-right .screenshot {
    grid-column: 4 / span 1;
    grid-row: 1; }
  .inset-image.type-mobile.has-links.section-right .project-info {
    grid-column: 6 / span 2;
    grid-row: 1;
    padding: 0;
    display: flex;
    align-items: center; } }

@media only screen and (min-width: 48em) {
  .inset-image.type-mobile.has-links.section-right .screenshot {
    grid-column: 6 / span 3; }
  .inset-image.type-mobile.has-links.section-right .project-info {
    grid-row: 1;
    grid-column: 10 / span 1; } }

@media only screen and (min-width: 62em) {
  .inset-image.type-mobile.has-links.section-right .project-info {
    grid-column: 16 / span 3; }
  .inset-image.type-mobile.has-links.section-right .screenshot {
    grid-column: 10 / span 5; } }

@media only screen and (min-width: 48em) {
  .inset-image.type-desktop.section-left .screenshot, .inset-image.type-tablet.section-left .screenshot {
    grid-column: 4 / span 7; } }

@media only screen and (min-width: 62em) {
  .inset-image.type-desktop.section-left .project-info, .inset-image.type-tablet.section-left .project-info {
    grid-column: 2 / span 3;
    text-align: right; }
  .inset-image.type-desktop.section-left .screenshot, .inset-image.type-tablet.section-left .screenshot {
    grid-column: 6 / span 15; }
  .inset-image.type-desktop.section-left.no-links .screenshot, .inset-image.type-tablet.section-left.no-links .screenshot {
    grid-column: 6 / span 13; } }

.inset-image.type-desktop.section-left:before, .inset-image.type-tablet.section-left:before {
  grid-column: 23 / span 3;
  width: calc(100% + 1px); }

@media only screen and (min-width: 62em) {
  .inset-image.type-desktop.section-right, .inset-image.type-tablet.section-right {
    grid-column: 1 / span 3; }
    .inset-image.type-desktop.section-right:before, .inset-image.type-tablet.section-right:before {
      grid-column: 1 / span 3; }
    .inset-image.type-desktop.section-right .screenshot, .inset-image.type-tablet.section-right .screenshot {
      grid-column: 6 / span 15; }
    .inset-image.type-desktop.section-right.no-links .screenshot, .inset-image.type-tablet.section-right.no-links .screenshot {
      grid-column: 8 / span 13; }
    .inset-image.type-desktop.section-right .project-info, .inset-image.type-tablet.section-right .project-info {
      grid-column: 22 / span 3; } }

@media only screen and (min-width: 62em) {
  .inset-image.type-desktop.section-left.no-links .screenshot {
    grid-column: 4 / span 17; } }

@media only screen and (min-width: 62em) {
  .inset-image.type-desktop.section-right.no-links .screenshot {
    grid-column: 6 / span 17; } }

.inset-image.gray {
  background-color: #F0F0F0; }
  .inset-image.gray:before {
    background: #FFFFFF; }

.inset-image.black {
  background-color: #000000; }
  .inset-image.black:before {
    background: #FFFFFF; }
  .inset-image.black .project-info a {
    color: #FFFFFF; }
  .inset-image.black .mobile-wrapper,
  .inset-image.black .tablet-wrapper {
    background: #FFFFFF;
    box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.2); }
    @media only screen and (min-width: 62em) {
      .inset-image.black .mobile-wrapper,
      .inset-image.black .tablet-wrapper {
        box-shadow: 8px 8px 0px rgba(255, 255, 255, 0.2); } }
    .inset-image.black .mobile-wrapper img,
    .inset-image.black .mobile-wrapper picture,
    .inset-image.black .tablet-wrapper img,
    .inset-image.black .tablet-wrapper picture {
      border: 1px solid #000000; }
  .inset-image.black .desktop img,
  .inset-image.black .desktop picture {
    box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.2); }
    @media only screen and (min-width: 62em) {
      .inset-image.black .desktop img,
      .inset-image.black .desktop picture {
        box-shadow: 8px 8px 0px rgba(255, 255, 255, 0.2); } }

.inset-image.white {
  background-color: #FFFFFF; }
  .inset-image.white:before {
    background: #F0F0F0; }

.inset-image.dark-gray {
  background: #8C8C8C;
  color: #FFFFFF; }
  .inset-image.dark-gray:before {
    background: #F0F0F0; }
  .inset-image.dark-gray .project-info a {
    color: #FFFFFF; }

@media only screen and (min-width: 62em) {
  .mobile-gallery.section-left:before, .mobile-gallery.section-right:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    grid-row: 1; }
  .mobile-gallery.section-left:before {
    grid-column: 23 / span 3; }
  .mobile-gallery.section-right:before {
    grid-column: 1 / span 3; } }

.mobile-gallery .screenshots {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (min-width: 37.5em) {
    .mobile-gallery .screenshots {
      grid-template-columns: repeat(4, 1fr); } }

.mobile-gallery.has-links .screenshots {
  padding: 0 0 64px 0; }
  @media only screen and (min-width: 62em) {
    .mobile-gallery.has-links .screenshots {
      padding: 88px 0; } }
  @media only screen and (min-width: 75em) {
    .mobile-gallery.has-links .screenshots {
      padding: 160px 0; } }

.mobile-gallery.has-links .project-info {
  padding: 64px 0 20px 0; }
  @media only screen and (min-width: 48em) {
    .mobile-gallery.has-links .project-info {
      padding: 72px 0 24px 0; } }
  @media only screen and (min-width: 62em) {
    .mobile-gallery.has-links .project-info {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0;
      grid-row: 1; } }
  .mobile-gallery.has-links .project-info.copy-medium p {
    width: 100%;
    font-size: 1rem; }
  .mobile-gallery.has-links .project-info strong {
    display: block; }
  .mobile-gallery.has-links .project-info a {
    display: inline-block; }
    .mobile-gallery.has-links .project-info a:hover {
      cursor: pointer; }

@media only screen and (min-width: 62em) {
  .mobile-gallery.has-links.section-left .project-info {
    grid-column: 3 / span 2;
    text-align: right; } }

@media only screen and (min-width: 62em) {
  .mobile-gallery.has-links.section-left .screenshots {
    grid-column: 6 / span 15; } }

@media only screen and (min-width: 62em) {
  .mobile-gallery.has-links.section-right .project-info {
    grid-column: 22 / span 2; } }

@media only screen and (min-width: 62em) {
  .mobile-gallery.has-links.section-right .screenshots {
    grid-column: 6 / span 15; } }

.mobile-gallery.no-links .screenshots {
  padding: 64px 0; }
  @media only screen and (min-width: 62em) {
    .mobile-gallery.no-links .screenshots {
      padding: 88px 0; } }
  @media only screen and (min-width: 75em) {
    .mobile-gallery.no-links .screenshots {
      padding: 160px 0; } }

@media only screen and (min-width: 62em) {
  .mobile-gallery.no-links.section-left .screenshots {
    grid-column: 6 / span 15; } }

@media only screen and (min-width: 62em) {
  .mobile-gallery.no-links.section-right .screenshots {
    grid-column: 6 / span 15; } }

.mobile-gallery.gray {
  background-color: #F0F0F0; }
  .mobile-gallery.gray:before {
    background: #FFFFFF; }

.mobile-gallery.black {
  background-color: #000000; }
  .mobile-gallery.black:before {
    background: #FFFFFF; }
  .mobile-gallery.black .project-info a {
    color: #FFFFFF; }
  .mobile-gallery.black .mobile-wrapper {
    background: #FFFFFF;
    box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.2); }
    @media only screen and (min-width: 62em) {
      .mobile-gallery.black .mobile-wrapper {
        box-shadow: 8px 8px 0px rgba(255, 255, 255, 0.2); } }
    .mobile-gallery.black .mobile-wrapper img,
    .mobile-gallery.black .mobile-wrapper picture {
      border: 1px solid #000000; }

.mobile-gallery.white {
  background-color: #FFFFFF; }
  .mobile-gallery.white:before {
    background: #F0F0F0; }

.mobile-gallery.dark-gray {
  background: #8C8C8C;
  color: #FFFFFF; }
  .mobile-gallery.dark-gray:before {
    background: #F0F0F0; }
  .mobile-gallery.dark-gray .project-info a {
    color: #FFFFFF; }

.full-bleed-gallery .screenshots {
  display: grid;
  gap: 32px;
  padding: 64px 0; }
  @media only screen and (min-width: 62em) {
    .full-bleed-gallery .screenshots {
      padding: 88px 0; } }
  @media only screen and (min-width: 75em) {
    .full-bleed-gallery .screenshots {
      padding: 160px 0; } }
  .full-bleed-gallery .screenshots-mobile {
    grid-template-columns: repeat(2, 1fr); }
    @media only screen and (min-width: 37.5em) {
      .full-bleed-gallery .screenshots-mobile {
        grid-template-columns: repeat(4, 1fr); } }
    @media only screen and (min-width: 48em) {
      .full-bleed-gallery .screenshots-mobile {
        grid-column: 4 / span 7; } }
    @media only screen and (min-width: 62em) {
      .full-bleed-gallery .screenshots-mobile {
        grid-column: 6 / span 15; } }
  .full-bleed-gallery .screenshots-tablet-portrait {
    grid-template-columns: repeat(2, 1fr); }
    @media only screen and (min-width: 62em) {
      .full-bleed-gallery .screenshots-tablet-portrait {
        grid-column: 6 / span 15; } }
  @media only screen and (min-width: 48em) {
    .full-bleed-gallery .screenshots-tablet {
      gap: 64px; } }
  @media only screen and (min-width: 62em) {
    .full-bleed-gallery .screenshots-tablet {
      grid-column: 6 / span 15; } }
  .full-bleed-gallery .screenshots-desktop {
    grid-template-columns: repeat(1, 1fr); }
    @media only screen and (min-width: 37.5em) {
      .full-bleed-gallery .screenshots-desktop {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (min-width: 62em) {
      .full-bleed-gallery .screenshots-desktop {
        grid-column: 6 / span 15; } }
    @media only screen and (min-width: 100em) {
      .full-bleed-gallery .screenshots-desktop {
        gap: 48px; } }

@media only screen and (min-width: 37.5em) {
  .full-bleed-gallery.mobile-two .screenshots-mobile {
    grid-template-columns: repeat(2, 1fr); } }

@media only screen and (min-width: 62em) {
  .full-bleed-gallery.mobile-two .screenshots-mobile {
    gap: 64px; } }

.full-bleed-gallery.single-image .screenshots-tablet-portrait {
  grid-template-columns: repeat(1, 1fr); }

.full-bleed-gallery .tablet-portrait .image {
  position: relative; }
  .full-bleed-gallery .tablet-portrait .image:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 133.33333%; }
  .full-bleed-gallery .tablet-portrait .image > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.full-bleed-gallery.gray {
  background-color: #F0F0F0; }
  .full-bleed-gallery.gray:before {
    background: #FFFFFF; }

.full-bleed-gallery.black {
  background-color: #000000; }
  .full-bleed-gallery.black:before {
    background: #FFFFFF; }
  .full-bleed-gallery.black .project-info a {
    color: #FFFFFF; }
  .full-bleed-gallery.black .tablet-wrapper,
  .full-bleed-gallery.black .tablet-portrait-wrapper,
  .full-bleed-gallery.black .mobile-wrapper {
    background: #FFFFFF;
    box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.2); }
    @media only screen and (min-width: 62em) {
      .full-bleed-gallery.black .tablet-wrapper,
      .full-bleed-gallery.black .tablet-portrait-wrapper,
      .full-bleed-gallery.black .mobile-wrapper {
        box-shadow: 8px 8px 0px rgba(255, 255, 255, 0.2); } }
    .full-bleed-gallery.black .tablet-wrapper img,
    .full-bleed-gallery.black .tablet-wrapper picture,
    .full-bleed-gallery.black .tablet-portrait-wrapper img,
    .full-bleed-gallery.black .tablet-portrait-wrapper picture,
    .full-bleed-gallery.black .mobile-wrapper img,
    .full-bleed-gallery.black .mobile-wrapper picture {
      border: 1px solid #000000; }
  .full-bleed-gallery.black .desktop img,
  .full-bleed-gallery.black .desktop picture {
    box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.2); }
    @media only screen and (min-width: 62em) {
      .full-bleed-gallery.black .desktop img,
      .full-bleed-gallery.black .desktop picture {
        box-shadow: 8px 8px 0px rgba(255, 255, 255, 0.2); } }

.full-bleed-gallery.white {
  background-color: #FFFFFF; }
  .full-bleed-gallery.white:before {
    background: #F0F0F0; }

.full-bleed-gallery.dark-gray {
  background: #8C8C8C;
  color: #FFFFFF; }
  .full-bleed-gallery.dark-gray:before {
    background: #F0F0F0; }
  .full-bleed-gallery.dark-gray .project-info a {
    color: #FFFFFF; }

.pullquote {
  padding: 75px 0; }
  @media only screen and (min-width: 62em) {
    .pullquote {
      padding: 85px 0 80px 0; } }
  @media only screen and (min-width: 48em) {
    .pullquote blockquote,
    .pullquote .source {
      grid-column: 4 / span 7; } }
  @media only screen and (min-width: 62em) {
    .pullquote blockquote,
    .pullquote .source {
      grid-column: 8 / span 11; } }
  .pullquote blockquote {
    padding: 0;
    margin: 0; }
    .pullquote blockquote:before {
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
      background-image: url(images/quote-mark-orange.svg);
      width: 40px;
      height: 32px;
      margin-bottom: 40px; }
      @media only screen and (min-width: 48em) {
        .pullquote blockquote:before {
          width: 52px;
          height: 40px;
          margin-bottom: 30px; } }
      @media only screen and (min-width: 62em) {
        .pullquote blockquote:before {
          margin-bottom: 40px; } }
    .pullquote blockquote p {
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.3333em; }
      @media only screen and (min-width: 62em) {
        .pullquote blockquote p {
          font-size: 1.5rem; } }
  .pullquote .source {
    padding-top: 25px; }
    .pullquote .source:after {
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
      background-image: url(images/quote-mark-orange.svg);
      width: 40px;
      height: 32px;
      margin-top: 20px;
      transform: rotate(180deg);
      margin-left: auto; }
      @media only screen and (min-width: 48em) {
        .pullquote .source:after {
          width: 52px;
          height: 40px;
          margin-top: 5px; } }
    @media only screen and (min-width: 48em) {
      .pullquote .source p {
        font-size: 1rem; } }
    .pullquote .source p strong {
      padding-right: 3px; }
  .pullquote.gray {
    background-color: #F0F0F0; }
  .pullquote.black {
    background-color: #000000;
    color: #FFFFFF; }
  .pullquote.white {
    background-color: #FFFFFF; }
    .pullquote.white blockquote:before {
      background-image: url(images/quote-mark-gray.svg); }
    .pullquote.white .source:after {
      background-image: url(images/quote-mark-gray.svg); }

.clients {
  background: #F0F0F0;
  padding: 80px 0; }
  @media only screen and (min-width: 48em) {
    .clients {
      padding: 80px 0 120px 0; } }
  @media only screen and (min-width: 62em) {
    .clients-header, .clients-list {
      grid-column: 6 / span 17; } }
  .clients-header {
    padding-bottom: 20px; }
    .clients-header h3 {
      color: #FF6007; }
  .clients h2 {
    line-height: 1.57em; }
    @media only screen and (min-width: 48em) {
      .clients h2 {
        line-height: 1.555em; } }
  .clients a {
    color: #FF6007; }
    .clients a:hover {
      text-decoration: underline; }
  .clients span.client:after {
    content: ", ";
    color: #000000; }
  .clients span.client.has-link:after {
    color: #FF6007; }
  .clients span.client:last-of-type:after {
    content: ""; }
  .clients.gray {
    background-color: #F0F0F0; }
  .clients.black {
    background-color: #000000; }
    .clients.black h2 {
      color: #FFFFFF; }
    .clients.black span.client:after {
      color: #FFFFFF; }
  .clients.white {
    background-color: #FFFFFF; }

.services .content {
  padding: 80px 0 70px 0; }
  @media only screen and (min-width: 62em) {
    .services .content {
      display: grid;
      grid-template-columns: repeat(10, 1fr 32px) 1fr 48px;
      grid-column: 4 / span 22; }
      .services .content .services-header {
        grid-column: 3 / span 17; }
      .services .content .services-list {
        grid-column: 3 / span 17; } }

.services-header {
  padding-bottom: 72px; }
  .services-header h3 {
    padding-bottom: 20px; }

.services-list {
  display: grid;
  gap: 32px; }
  @media only screen and (min-width: 37.5em) {
    .services-list {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (min-width: 75em) {
    .services-list {
      grid-template-columns: repeat(3, 1fr); } }

.services .service {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .services .service + .service .icon {
    padding-top: 50px; }
    @media only screen and (min-width: 37.5em) {
      .services .service + .service .icon {
        padding-top: 0; } }
  @media only screen and (min-width: 37.5em) {
    .services .service {
      height: 320px;
      padding: 24px; } }
  @media only screen and (min-width: 62em) {
    .services .service {
      padding: 0 24px 32px 24px; } }
  @media only screen and (min-width: 100em) {
    .services .service {
      padding: 0 32px 32px 32px; } }
  .services .service .icon {
    max-width: 80px;
    padding-bottom: 30px; }
    @media only screen and (min-width: 37.5em) {
      .services .service .icon {
        margin-top: auto;
        padding-bottom: 0; } }
  .services .service .info {
    margin-top: auto; }
    @media only screen and (min-width: 48em) {
      .services .service .info {
        max-width: 288px; } }
    @media only screen and (min-width: 75em) {
      .services .service .info {
        max-width: 100%; } }
    .services .service .info h4 {
      font-size: 1.25rem;
      line-height: 1.4em; }
      @media only screen and (min-width: 37.5em) {
        .services .service .info h4 {
          font-size: 1rem; } }
      @media only screen and (min-width: 48em) {
        .services .service .info h4 {
          font-size: 1.25rem; } }
      @media only screen and (min-width: 75em) {
        .services .service .info h4 {
          font-size: 1.125rem; } }
      @media only screen and (min-width: 100em) {
        .services .service .info h4 {
          font-size: 1.25rem; } }
    .services .service .info p {
      font-size: 1.125rem;
      line-height: 1.4em; }
      @media only screen and (min-width: 37.5em) {
        .services .service .info p {
          font-size: 1rem;
          line-height: 1.5em; } }
      @media only screen and (min-width: 48em) {
        .services .service .info p {
          font-size: 1.125rem;
          line-height: 1.4em; } }
      @media only screen and (min-width: 62em) {
        .services .service .info p {
          font-size: 1rem;
          line-height: 1.5em; } }
      @media only screen and (min-width: 75em) {
        .services .service .info p {
          font-size: 1.125rem;
          line-height: 1.3333em; } }

.services.orange {
  background: #FF6007; }
  @media only screen and (min-width: 62em) {
    .services.orange {
      background: transparent; } }
  @media only screen and (min-width: 62em) {
    .services.orange .content {
      background: #FF6007; } }
  .services.orange .services-header h3 {
    color: #FFFFFF; }
  .services.orange .services-header h2 {
    color: #FFFFFF; }
  @media only screen and (min-width: 37.5em) {
    .services.orange .service {
      background: #FF7426; } }
  .services.orange .service .info h4 {
    color: #FFFFFF; }
  .services.orange .service .info p {
    color: #FFFFFF; }
    @media only screen and (min-width: 37.5em) {
      .services.orange .service .info p {
        color: #000000; } }

.services.gray {
  background: #E5E5E5; }
  @media only screen and (min-width: 62em) {
    .services.gray {
      background: transparent; } }
  @media only screen and (min-width: 62em) {
    .services.gray .content {
      background: #E5E5E5; } }
  .services.gray .services-header h3 {
    color: #FF6007; }
  .services.gray .services-header h2 {
    color: #000000; }
  @media only screen and (min-width: 37.5em) {
    .services.gray .service {
      background: #F0F0F0; } }
  .services.gray .service .info h4 {
    color: #000000; }
  .services.gray .service .info p {
    color: #000000; }

.services.black {
  background: #000000; }
  @media only screen and (min-width: 62em) {
    .services.black {
      background: transparent; } }
  @media only screen and (min-width: 62em) {
    .services.black .content {
      background: #000000; } }
  .services.black .services-header h3 {
    color: #FF6007; }
  .services.black .services-header h2 {
    color: #FFFFFF; }
  .services.black .service {
    background: #303030; }
    .services.black .service .info h4 {
      color: #FFFFFF; }
    .services.black .service .info p {
      color: #FFFFFF; }

.methods .content {
  padding: 80px 16px;
  grid-column: 1 / span 5; }
  @media only screen and (min-width: 37.5em) {
    .methods .content {
      padding: 80px 40px;
      grid-column: 1 / span 6; } }
  @media only screen and (min-width: 48em) {
    .methods .content {
      padding: 80px 0 70px 40px;
      display: grid;
      grid-template-columns: 40px repeat(5, 1fr 32px) 1fr;
      grid-column: 1 / span 12; }
      .methods .content .methods-header {
        grid-column: 1 / span 10; }
      .methods .content .methods-list {
        grid-column: 3 / span 7; } }
  @media only screen and (min-width: 62em) {
    .methods .content {
      padding: 80px 0 120px 0;
      grid-template-columns: 48px repeat(10, 1fr 32px) 1fr;
      grid-column: 1 / span 22; }
      .methods .content .methods-header {
        grid-column: 6 / span 11; }
      .methods .content .methods-list {
        grid-column: 8 / span 9; } }
  @media only screen and (min-width: 75em) {
    .methods .content .methods-header {
      grid-column: 6 / span 13; }
    .methods .content .methods-list {
      grid-column: 8 / span 9; } }
  .methods .content:before {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 16px; }
    @media only screen and (min-width: 37.5em) {
      .methods .content:before {
        width: 40px; } }
    @media only screen and (min-width: 62em) {
      .methods .content:before {
        width: 48px; } }

.methods-header {
  padding-bottom: 50px; }
  @media only screen and (min-width: 48em) {
    .methods-header {
      padding-bottom: 40px; } }
  .methods-header h2 {
    font-size: 1.75rem;
    line-height: 1.125em; }
    @media only screen and (min-width: 48em) {
      .methods-header h2 {
        font-size: 2.25rem;
        line-height: 1.2222em; } }
  .methods-header h3 {
    padding-bottom: 20px; }

.methods .method + .method {
  padding-top: 50px; }
  @media only screen and (min-width: 48em) {
    .methods .method + .method {
      padding-top: 40px; } }

.methods .method .headline {
  padding-bottom: 8px; }
  .methods .method .headline p {
    font-weight: bold; }

@media only screen and (min-width: 48em) {
  .methods .method .copy-large p {
    font-size: 1.125rem;
    line-height: 1.3333em; } }

.methods .border-bottom {
  height: 72px;
  grid-column: 1 / -1;
  display: flex;
  padding-right: 16px;
  align-items: center;
  justify-content: flex-end; }
  @media only screen and (min-width: 37.5em) {
    .methods .border-bottom {
      padding-right: 40px; } }
  @media only screen and (min-width: 62em) {
    .methods .border-bottom {
      grid-column: 4 / 23;
      padding-right: 0; } }
  .methods .border-bottom .top {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: 300; }
    .methods .border-bottom .top:after {
      display: inline-block;
      content: "";
      margin-left: 20px;
      width: 14px;
      height: 18px;
      background: url(images/down-arrow-white.svg) no-repeat 0 0;
      background-size: 100%;
      transform: rotate(180deg); }

.methods .gutter {
  display: none; }
  @media only screen and (min-width: 62em) {
    .methods .gutter {
      display: block;
      height: 100%;
      grid-column: 1 / span 3; } }

.methods.black {
  background: #FF6007; }
  .methods.black .content {
    color: #FFFFFF;
    background: #000000; }
    .methods.black .content:before {
      background: #000000; }
  .methods.black .methods-header h3 {
    color: #FF6007; }
  .methods.black .methods-header h2 {
    color: #FFFFFF; }
  .methods.black .border-bottom {
    background: #FF6007; }
  @media only screen and (min-width: 62em) {
    .methods.black .gutter {
      background: #FFFFFF; } }

.methods.gray {
  background: #000000; }
  .methods.gray .content {
    color: #000000;
    background: #F0F0F0; }
    .methods.gray .content:before {
      background: #F0F0F0; }
  .methods.gray .methods-header h3 {
    color: #FF6007; }
  .methods.gray .methods-header h2 {
    color: #000000; }
  .methods.gray .border-bottom {
    background: #000000; }
  @media only screen and (min-width: 62em) {
    .methods.gray .gutter {
      background: #FFFFFF; } }

.case-study-pre-footer h3 {
  font-size: 1rem; }
  @media only screen and (min-width: 62em) {
    .case-study-pre-footer h3 {
      font-size: 1.25rem; } }

.case-study-pre-footer .pagination {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #C4C4C4;
  grid-column: 2 / span 2; }
  @media only screen and (min-width: 37.5em) {
    .case-study-pre-footer .pagination {
      grid-column: 2 / span 4; } }
  @media only screen and (min-width: 48em) {
    .case-study-pre-footer .pagination {
      grid-column: 2 / span 8; } }
  @media only screen and (min-width: 62em) {
    .case-study-pre-footer .pagination {
      grid-column: 4 / span 14;
      padding: 40px 0; } }
  .case-study-pre-footer .pagination a {
    display: block;
    color: #FF6007;
    padding: 5px 20px;
    display: flex;
    align-content: center; }
  .case-study-pre-footer .pagination .prev {
    border-right: 1px solid #FF6007; }
    .case-study-pre-footer .pagination .prev a {
      padding-left: 0; }
      .case-study-pre-footer .pagination .prev a:before {
        display: block;
        content: "";
        margin-top: 5px;
        margin-right: 20px;
        width: 9px;
        height: 12px;
        background: url(images/up-arrow-orange.svg) no-repeat 0 0;
        background-size: 100%;
        transform: rotate(-90deg); }
        @media only screen and (min-width: 62em) {
          .case-study-pre-footer .pagination .prev a:before {
            width: 14px;
            height: 20px;
            margin-top: 4px; } }
  .case-study-pre-footer .pagination .next a a {
    padding-right: 0; }
  .case-study-pre-footer .pagination .next a:after {
    display: block;
    content: "";
    margin-left: 20px;
    margin-top: 5px;
    width: 9px;
    height: 12px;
    background: url(images/up-arrow-orange.svg) no-repeat 0 0;
    background-size: 100%;
    transform: rotate(90deg); }
    @media only screen and (min-width: 62em) {
      .case-study-pre-footer .pagination .next a:after {
        width: 14px;
        height: 20px;
        margin-top: 4px; } }

.case-study-pre-footer .back-to-top {
  padding: 20px 0;
  border-bottom: 1px solid #C4C4C4;
  grid-column: 4 / span 1; }
  @media only screen and (min-width: 37.5em) {
    .case-study-pre-footer .back-to-top {
      grid-column: 6 / span 1; } }
  @media only screen and (min-width: 48em) {
    .case-study-pre-footer .back-to-top {
      grid-column: 10 / span 3; } }
  @media only screen and (min-width: 62em) {
    .case-study-pre-footer .back-to-top {
      padding: 40px 0;
      grid-column: 18 / span 5; } }
  .case-study-pre-footer .back-to-top .top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #FF6007;
    padding: 5px 0; }
    .case-study-pre-footer .back-to-top .top:after {
      display: block;
      content: "";
      margin-left: 20px;
      width: 9px;
      height: 12px;
      background: url(images/up-arrow-orange.svg) no-repeat 0 0;
      background-size: 100%; }
      @media only screen and (min-width: 62em) {
        .case-study-pre-footer .back-to-top .top:after {
          width: 14px;
          height: 20px; } }

/*

    ----------------------------------------------------------------------
                                04 Templates
    ----------------------------------------------------------------------

*/
.ie-error {
  width: 100%;
  padding: 100px 50px;
  text-align: center; }
  .ie-error h1 {
    font-size: 2rem; }
  .ie-error p {
    font-size: 1.25rem;
    padding-top: 20px; }
  .ie-error .options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    margin: 0 auto; }
    @media only screen and (min-width: 37.5em) {
      .ie-error .options {
        max-width: 400px; } }
    @media only screen and (min-width: 48em) {
      .ie-error .options {
        max-width: 800px; } }
    .ie-error .options .option {
      width: 100%;
      padding: 25px; }
      @media only screen and (min-width: 37.5em) {
        .ie-error .options .option {
          width: 50%; } }
      @media only screen and (min-width: 48em) {
        .ie-error .options .option {
          width: 25%;
          padding: 0 25px;
          margin-top: auto; } }
      .ie-error .options .option a {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end; }
        .ie-error .options .option a .icon {
          display: block;
          max-width: 72px;
          max-height: 72px;
          height: 100%;
          width: 100%; }
          .ie-error .options .option a .icon img {
            width: 100%; }
        .ie-error .options .option a .name {
          width: 100%;
          display: block;
          padding-top: 20px;
          font-size: 0.8125em; }
