.site-footer {
	padding: 60px 0 40px 0;

	@include x-large {
		padding: 90px 0;
	}

	.logo {
		max-width: 44px;

		@include large {
			grid-column: 4 / span 1;
			display: flex;
			align-items: center;
		}

		a {
			display: block;
		}
	}

	.contact-info {
		padding-top: 40px;

		@include large {
			padding-top: 0;
			grid-column: 6 / span 19;
		}

		@include x-large {
			grid-column: 5 / span 14;
		}

		@include xx-large {
			margin-left: -35px;
		}

		@media only screen and (min-width:120em) { 
			margin-left: -55px;
		}

		h3 {
			line-height: 2.3333em;
			color: $orange;

			@include large {
				line-height: 1em;
				display: flex;
				align-items: center;
				height: 56px;
			}

			span.contact-item {
				display: block;

				@include large {
					display: flex;
					align-items: center;

					& + span.contact-item {
						padding-left: 20px;

						&:before {
							content: '·';
							margin-right: 20px;
							font-weight: bold;
						}
					}
				}

				@include x-large {
					& + span.contact-item {
						padding-left: 10px;

						&:before {
							margin-right: 10px;
						}
					}
				}

				@include xx-large {
					& + span.contact-item {
						padding-left: 20px;

						&:before {
							margin-right: 20px;
						}
					}
				}
			}

			a {
				color: $orange;
			}
		}
	}

	.subscribe-form {
		display: none;


		form {

			@include large {
				width: 240px;
				position: absolute;
				top: -28px;
				left: 0;
			}			

			@media only screen and (min-width:81.25em) { 
				width: 320px;
			}

			@include xx-large {
				width: 340px;
			}
		}

		#mc_embed_signup_scroll {
			display: flex;
			align-items: center;
		}

		.mc-field-group {
			width: 100%;
			max-width: 240px;

			@include large {
				max-width: 153px;
			}

			@include x-large {
				max-width: 240px;
			}
		}

		.submit-btn {
			flex: 1;
		}

		input.email {
			border: 1px solid $orange;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			height: 56px;
			line-height: 1em;
			padding: 0 15px;
			font-weight: 300;
			font-size: 1rem;
			color: $black;
			width: 100%;

			@include placeholder {
				color: #aaa;
			}

			&:active,
			&:focus {
				outline: none;
			}
		}

		input.button {
			height: 56px;
			line-height: 1em;
			background: $orange;
			color: $white;
			border: none;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			font-size: 1rem;
			font-weight: 300;
			font-family: $roboto;
			padding: 2px 25px 0 25px;

			&:active,
			&:focus {
				outline: none;
			}
		}

	}


	.copyright {
		padding-top: 80px;

		@include large {
			text-align: center;
		}

		@include x-large {
			padding-top: 0;
			text-align: left;
			grid-column: 19 / span 4;
			margin-left: auto;
			display: flex;
			align-items: center;
		}
	}
}