.copy {

	&-large {
		p {
			font-size: 1.125rem;
			line-height: 1.333em;
			font-weight: 300;

			@include medium {
				font-size: 1rem;
				line-height: 1.5em;
			}

			@include x-large {
				font-size: 1.25rem;
				line-height: 1.6em;
			}
		}
	}

	&-medium {
		p {
			font-size: 0.875rem;
			line-height: 1.715em;
			font-weight: 300;

			@include medium {
				line-height: 1.5715em;
			}

			@include x-large {
				font-size: 1rem;
				line-height: 1.5em;
			}
		}
	}


	&-small {
		p {
			font-size: 0.625rem;
			line-height: 1.5em;
			font-weight: 300;

			@include x-large {
				font-size: 0.875rem;
				line-height: 1.571em;
			}
		}
	}

}