h1 {
	font-size: 3rem;
	line-height: 1.125em;
	font-weight: 700;

	@include medium {
		font-size: 3.5rem;
		line-height: 1.15em;
	}

	@include x-large {
		font-size: 5.25rem;
	}
}

h2 {
	font-size: 1.75rem;
	line-height: 1.25em;
	font-weight: 700;

	@include medium {
		font-size: 2rem;
	}

	@include x-large {
		font-size: 2.25rem;
		line-height: 1.222em;
	}
}

h3 {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.3333em;
}

h4 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.3333em;

	@include medium {
		font-size: 1.125rem;
	}

	@include x-large {
		font-size: 1.25rem;
		line-height: 1.6em;
	}
}

h5 {
	font-size: 1rem;
	line-height: 1.5em;
	font-weight: 700;

	@include x-large {
		font-size: 1.125rem;
		line-height: 1.3333em;
	}
}