body,
button,
input,
select,
optgroup,
textarea {
	font-family: $roboto;

}

::-moz-selection {
	background: $orange;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $orange;
	color: $white;
	text-shadow: none;
}

a {
	color: $black;
	transition: all 0.2s ease-in;

	&:hover {
		text-decoration: underline;
	}
}

.fs-link {
	font-size: 1rem;

	@include large {
		font-size: 1.25rem;				
	}
}

@import "headings";

@import "copy";