@mixin left-gutter {
	&:before {
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 4;
		width: 16px;

		@include small {
			width: 40px;
		}

		@include large {
			width: 48px;
		}
	}
}