// 600 + 
@mixin small {
	@media only screen and (min-width:37.5em) { 
		@content;
	}
}


// 768px +
@mixin medium {
	@media only screen and (min-width:48em) { 
		@content;
	}
}


// 992px +
@mixin large {
	@media only screen and (min-width:62em) { 
		@content;
	}
}


// 1200px +
@mixin x-large {
	@media only screen and (min-width:75em) { 
		@content;
	}
}

// 1600px +
@mixin xx-large {
	@media only screen and (min-width:100em) { 
		@content;
	}
}

// 1920px +
@mixin xxx-large {
	@media only screen and (min-width:120em) { 
		@content;
	}
}