.ie-error {
	width: 100%;
	padding: 100px 50px;
	text-align: center;

	h1 {
		font-size: 2rem;
	}

	p {
		font-size: 1.25rem;
		padding-top: 20px;
	}

	.options {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 50px;
		margin: 0 auto;

		@include small {
			max-width: 400px;
		}

		@include medium {
			max-width: 800px;
		}

		.option {
			width: 100%;
			padding: 25px;

			@include small {
				width: 50%;
			}

			@include medium {
				width: 25%;
				padding: 0 25px;
				margin-top: auto;
			}

			a {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: flex-end;

				.icon {
					display: block;
					max-width: 72px;
					max-height: 72px;
					height: 100%;
					width: 100%;

					img {
						width: 100%;
					}
				}

				.name {
					width: 100%;
					display: block;
					padding-top: 20px;
					font-size: 0.8125em;
				}
			}
		}
	}
}

