.mobile {
	&-wrapper {
		background: $black;
		padding: 11.882% 5% 11.643% 5%;
		border-radius: 10px;
		box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
		width: 100%;

		@include large {
			box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1);
			border-radius: 12px;
		}

		@include x-large {
			border-radius: 14px;
		}

		@include xx-large {
			border-radius: 16px;
		}

		.image {
			@include aspect-ratio(375, 667);
			border-radius: 4px;

			.content {
				border-radius: 4px;
			}
	
			a, img, picture {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 4px;
			}
		}
	}
}