.tablet {
	&-wrapper {
		background: $black;
		padding: 2.5% 8%;
		border-radius: 8px;
		box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);

		@include small {
			border-radius: 10px;
		}

		@include large {
			border-radius: 12px;
			box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1);
		}


	}

	.image {
		@include aspect-ratio(1024, 768);
		border-radius: 4px;

		a, img, picture {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 4px;
		}
	}
}

.tablet-portrait {
	&-wrapper {
		background: $black;
		padding: 9.694% 5.372%;
		border-radius: 5px;
		box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);

		@include small {
			border-radius: 7px;
		}

		@include large {
			border-radius: 10px;
			box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1);
		}
	}

	.image {
		@include aspect-ratio(768, 1024);
		border-radius: 4px;

		a, img, picture {
			border-radius: 4px;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}