.aligned-image {
	@include cover-fill-image;

	&.full-bleed {
		picture,
		img {
			grid-column: 1 / -1;
		}		
	}

	&.left {
		picture,
		img {
			grid-column: 1 / span 4;

			@include small {
				grid-column: 1 / span 6;
			}

			@include medium {
				grid-column: 1 / span 12;
			}

			@include large {
				grid-column: 1 / span 22;
			}
		}		
	}

	&.right {
		picture,
		img {
			grid-column: 2 / span 4;

			@include small {
				grid-column: 2 / span 6;
			}

			@include medium {
				grid-column: 2 / span 12;
			}

			@include large {
				grid-column: 4 / span 22;
			}
		}	
	}

	&.orange {
		background-color: $orange;
	}

	&.black {
		background-color: $black;
	}

	&.dark-gray {
		background-color: $dark-gray;
	}

	&.gray {
		background-color: $light-gray;
	}

	&.white {
		background-color: $white;
	}
}