.case-study-pre-footer {

	h3 {
		font-size: 1rem;

		@include large {
			font-size: 1.25rem;
		}
	}
	
	.pagination {
		padding: 20px 0;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #C4C4C4;
		grid-column: 2 / span 2;

		@include small {
			grid-column: 2 / span 4;
		}

		@include medium {
			grid-column: 2 / span 8;
		}

		@include large {
			grid-column: 4 / span 14;
			padding: 40px 0;
		}

		a {
			display: block;
			color: $orange;
			padding: 5px 20px;
			display: flex;
			align-content: center;
		}

		.prev {
			border-right: 1px solid $orange;

			a {
				padding-left: 0;
	
				&:before {
					display: block;
					content: "";
					margin-top: 5px;
					margin-right: 20px;
					width: 9px;
					height: 12px;
					background: url(images/up-arrow-orange.svg) no-repeat 0 0;
					background-size: 100%;
					transform: rotate(-90deg);

					@include large {
						width: 14px;
						height: 20px;
						margin-top: 4px;
					}
				}				
			}
		}

		.next {
			a {
				a {
					padding-right: 0;
				}

				&:after {
					display: block;
					content: "";
					margin-left: 20px;
					margin-top: 5px;
					width: 9px;
					height: 12px;
					background: url(images/up-arrow-orange.svg) no-repeat 0 0;
					background-size: 100%;
					transform: rotate(90deg);

					@include large {
						width: 14px;
						height: 20px;
						margin-top: 4px;
					}
				}				
			}
		}
	}

	.back-to-top {
		padding: 20px 0;
		border-bottom: 1px solid #C4C4C4;
		grid-column: 4 / span 1;

		@include small {
			grid-column: 6 / span 1;
		}

		@include medium {
			grid-column: 10 / span 3;
		}

		@include large {
			padding: 40px 0;
			grid-column: 18 / span 5;
		}

		.top {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			color: $orange;
			padding: 5px 0;

			&:after {
				display: block;
				content: "";
				margin-left: 20px;
				width: 9px;
				height: 12px;
				background: url(images/up-arrow-orange.svg) no-repeat 0 0;
				background-size: 100%;

				@include large {
					width: 14px;
					height: 20px;
				}
			}
		}
	}

}