.case-study-hero {
	@include left-gutter;

	.content {
		padding-top: 40px;
		display: grid;
		gap: 0 32px;
		grid-template-columns: repeat(2, 1fr);

		@include medium {
			grid-template-columns: repeat(6, 1fr);
		}

		@include large {
			padding-top: 120px;
			grid-column: 2 / span 21;
			grid-template-columns: repeat(11, 1fr);
		}

		&.open {
			padding-bottom: 64px;
		}

		& > * {
			grid-column: 1/-1;
		}
	}

	.project-sub-headline {
		display: flex;
		align-items: center;
		padding-bottom: 40px;

		@include large {
			grid-column: 2 / span 4;
		}

		.project-name {
			h5 {
				line-height: 1em;
			}
		}

		.separator {
			height: 34px;
			width: 1px;
			background: $orange;
			margin: 0 10px;
		}

		.project-type {
			padding-top: 2px;

			p {
				line-height: 1em;
			}
		}
	}

	.project-headline {
		padding-bottom: 40px;

		@include large {
			grid-column: 2 / span 9;
		}

		@include x-large {
			grid-column: 2 / span 6;
		}

		@include xx-large {
			grid-column: 2 / span 5;
		}

		h1 {
			font-size: 2.25rem;
			line-height: 1.2222em;

			@include medium {
				font-size: 2.5rem;
				line-height: 1.2em;
			}

			@include large {
				font-size: 3rem;
				line-height: 1.1666em;
			}
		}
	}

	.toggle-link {
		padding-bottom: 64px;

		@include large {
			grid-column: 2 / span 4;
		}

		a {
			color: $orange;
			font-size: 1.25rem;
			font-weight: 300;
		}
	}

	.project-description {
		overflow: hidden;
		height: 0; 

		@include large {
			grid-column: 3 / span 8;
		}

		@include xx-large {
			grid-column: 3 / span 6;
		}

		h5 {
			padding-bottom: 5px;
		}

		p {
			padding-bottom: 16px;
		}

		p + h5 {
			padding-top: 14px;
		}
	}

	&.orange {
		background: $orange;
		color: $white;

		@include large {
			background: transparent;

			&:before {
				background: $orange;
			}

			.content {
				background: $orange;
			}
		}

		.project-sub-headline {

			.separator {
				background: $white;
			}
		}

		.toggle-link {
			a {
				color: $white;
			}
		}
	}

	&.black {
		background: $black;
		color: $white;

		@include large {
			background: transparent;

			&:before {
				background: $black;
			}

			.content {
				background: $black;
			}
		}
	}

	&.gray {
		background: $light-gray;
		color: $black;

		@include large {
			background: transparent;

			&:before {
				background: $light-gray;
			}

			.content {
				background: $light-gray;
			}
		}
	}

	&.white {
		background: $white;
		color: $black;

		@include large {
			background: transparent;

			&:before {
				background: $white;
			}

			.content {
				background: $white;
			}
		}
	}
}