.clients {
	background: $light-gray;
	padding: 80px 0;

	@include medium {
		padding: 80px 0 120px 0;
	}

	&-header,
	&-list {
		@include large {
			grid-column: 6 / span 17;
		}
	}

	&-header {
		padding-bottom: 20px;

		h3 {
			color: $orange;
		}
	}

	h2 {
		line-height: 1.57em;

		@include medium {
			line-height: 1.555em;
		}
	}

	a {
		color: $orange;

		&:hover {
			text-decoration: underline;
		}
	}

	span.client {
		&:after {
			content: ", ";
			color: $black;
		}

		&.has-link {
			&:after {
				color: $orange;
			}
		}

		&:last-of-type {
			&:after {
				content: "";
			}
		}
	}


	&.gray {
		background-color: $light-gray;
	}

	&.black {
		background-color: $black;

		h2 {
			color: $white;
		}

		span.client {
			&:after {
				color: $white;
			}
		}
	}

	&.white {
		background-color: $white;
	}
}