.desktop-mobile {

	@include large {
		&:before {
			content: '';
			display: block;
			height: 100%;
			width: 100%;
		}		
	}

	&.section-left {
		@include large {
			.project-info {
				grid-column: 2 / span 3;
				text-align: right;
			}

			.screenshots {
				grid-column: 6 / span 13;
			}

			&:before {
				grid-column: 23 / span 3;
				width: calc(100% + 1px);
			}
		}
	}

	&.section-right {
		@include large {
			grid-column: 1 / span 3;

			&:before {
				grid-column: 1 / span 3;
			}

			.screenshots {
				grid-column: 8 / span 13;
			}

			.project-info {
				grid-column: 22 / span 3;
			}
		}
	}


	&.phone-left {

		.desktop {
			margin-left: auto;

			@include medium {
				margin-left: 0;
			}
		}
		.mobile {
			left: 0;

			@include medium {
				transform: translateX(-66.6666%);
			}

			@include large {
				transform: translateX(-63.6666%);
			}

			@include x-large {
				transform: translateX(-50%);
			}

			@include xxx-large {
				transform: translateX(-55%)
			}
		}

		&.section-left {
			@include large {
				.screenshots {
					grid-column: 8 / span 13;
				}	
			}		
		}
	}

	&.phone-right {
		.mobile {
			right: 0;

			@include medium {
				transform: translateX(66.6666%);
			}

			@include large {
				transform: translateX(63.6666%);
			}

			@include x-large {
				transform: translateX(50%);
			}
	
			@include xxx-large {
				transform: translateX(55%)
			}
		}

		&.section-right {
			@include large {
				.screenshots {
					grid-column: 6 / span 13;
				}	
			}		
		}
	}

	&.no-links {
		&.section-left {
			.screenshots {
				@include large {
					grid-column: 4 / span 13;
				}
			}

			&.phone-left {
				.screenshots {
					@include large {
						grid-column: 6 / span 13;
					}
				}
			}
		}

		&.section-right {
			.screenshots {

				@include large {
					grid-column: 10 / span 13;
				}
			}

			&.phone-right {
				.screenshots {
					@include large {
						grid-column: 8 / span 13;
					}
				}
			}
		}

		.screenshots {
			padding-top: 64px;

			@include medium {
				padding-top: 72px;
			}

			@include x-large {
				padding-top: 160px;
			}
		}
	}

	.desktop {
		a {
			display: block;
		}
		
		picture, img {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	.project-info {
		padding: 64px 0 20px 0;

		@include medium {
			grid-column: 4 / span 7;
			padding: 72px 0 24px 0;
		}

		@include large {
			height: 100%;
			display: flex;
			align-items: center;
			padding: 72px 0 0 0;
			grid-row: 1;
		}

		@include x-large {
			padding-top: 160px;
		}

		&.copy-medium {
			p {
				width: 100%;
			}			
		}

		strong {
			display: block;
		}

		a {
			display: inline-block;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.screenshots {
		margin-bottom: -2px;

		@include medium {
			grid-column: 4 / span 7;
		}

		@include large {
			grid-row: 1;
			padding-top: 88px;
		}

		@include x-large {
			padding-top: 160px;
		}

		.desktop {
			width: 88%;

			@include medium {
				width: 100%;
			}
		}

		.mobile {
			width: 100%;
			position: absolute;
			z-index: 2;
			top: 0;
			height: 100%;
			display: flex;
			align-items: center;
			max-width: 112px;
			padding-top: 64px;

			@include small {
				max-width: 124px;
			}

			@include medium {
				padding-top: 72px;
			}

			@include x-large {
				max-width: 194px;
				padding-top: 160px;
			}

			@include xx-large {
				max-width: 224px;
			}

			@include xxx-large {
				max-width: 282px;
			}

			a {
				display: block;
				width: 100%;
			}
		}
	}

	&.gray {
		background-color: $light-gray;

		&:before {
			background: $white;
		}
	}

	&.black {
		background-color: $black;

		&:before {
			background: $white;
		}

		.project-info {
			a {
				color: $white;
			}
		}
	}

	&.white {
		background-color: $white;

		&:before {
			background: $light-gray;
		}
	}

	&.dark-gray {
		background: $dark-gray;
		color: $white;

		&:before {
			background: $light-gray;
		}

		.project-info {
			a {
				color: $white;
			}
		}
	}
}