.full-bleed-gallery {

	.screenshots {
		display: grid;
		gap: 32px;
		padding: 64px 0;

		@include large {
			padding: 88px 0;
		}

		@include x-large {
			padding: 160px 0;
		}

		&-mobile {
			grid-template-columns: repeat(2, 1fr);

			@include small {
				grid-template-columns: repeat(4, 1fr);
			}

			@include medium {
				grid-column: 4 / span 7;
			}

			@include large {
				grid-column: 6 / span 15;
			}
		}

		&-tablet-portrait {
			grid-template-columns: repeat(2, 1fr);

			@include large {
				grid-column: 6 / span 15;
			}
		}

		&-tablet {
			@include medium {
				gap: 64px;
			}

			@include large {
				grid-column: 6 / span 15;
			}
		}

		&-desktop {
			grid-template-columns: repeat(1, 1fr);

			@include small {
				grid-template-columns: repeat(2, 1fr);
			}

			@include large {
				grid-column: 6 / span 15;
			}

			@include xx-large {
				gap: 48px;
			}
		}
	}

	&.mobile-two {
		.screenshots-mobile {
			@include small {
				grid-template-columns: repeat(2, 1fr);
			}

			@include large {
				gap: 64px;
			}
		}	
	}

	&.single-image {
		.screenshots-tablet-portrait {
			grid-template-columns: repeat(1, 1fr);
		}				
	}

	.tablet-portrait {
		.image {
			@include aspect-ratio(768px, 1024px);
		}
	}

	&.gray {
		background-color: $light-gray;

		&:before {
			background: $white;
		}
	}

	&.black {
		background-color: $black;

		&:before {
			background: $white;
		}

		.project-info {
			a {
				color: $white;
			}
		}

		.tablet-wrapper,
		.tablet-portrait-wrapper,
		.mobile-wrapper {
			background: $white;
			box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.2);

			@include large {
				box-shadow: 8px 8px 0px rgba(255, 255, 255, 0.2);
			}

			img,
			picture {
				border: 1px solid $black;
			}
		}


		.desktop {
			img,
			picture {
				box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.2);

				@include large {
					box-shadow: 8px 8px 0px rgba(255, 255, 255, 0.2);
				}
			}
		}
	}

	&.white {
		background-color: $white;

		&:before {
			background: $light-gray;
		}
	}

	&.dark-gray {
		background: $dark-gray;
		color: $white;

		&:before {
			background: $light-gray;
		}

		.project-info {
			a {
				color: $white;
			}
		}
	}
}