.home-hero {
	height: 100vh;
	max-height: 560px;

	@include left-gutter;

	@include x-large {
		max-height: 680px;
	}

	@include xx-large {
		max-height: 977px;
	}	

	&.orange {
		background: $orange;

		@include large {
			background: $white;
		}

		&:before {
			background: $orange;
		}

		.content {
			background-color: $orange;
			color: $white;			
		}

		h3 {
			a {
				color: $white;
			}
		}
	}

	&.black {
		background: $black;

		@include large {
			background: $white;
		}

		&:before {
			background: $black;
		}

		.content {
			background-color: $black;
			color: $white;			
		}
	}

	&.gray {
		background: $light-gray;

		@include large {
			background: $white;
		}

		&:before {
			background: $light-gray;
		}

		.content {
			background-color: $light-gray;
			color: $black;			
		}
	}

	&.white {
		background: $white;
		
		&:before {
			background: $white;
		}

		.content {
			background-color: $white;
			color: $black;			
		}
	}

	.content {
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 341px 389px;

		@include medium {
			background-position: top -70px center;
			background-size: 567px 566px;
		}

		@include large {
			grid-column: 1 / 23;
			background-position: top -125px center;
			background-size: 630px 633px;
		}

		@include x-large {
			background-position: top -150px center;
			background-size: 770px 769px;
		}

		@include xx-large {
			background-position: top -90px center;
			background-size: 862px 860px;
		}

		.flex-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 30px 0;
			height: 100%;
		}
	}

	@include large {
		.flex-wrapper > * {
			display: grid;
			grid-template-columns: 48px repeat(10, 1fr 32px) 1fr;
		}
	}

	.headline {
		padding: 0 0 30px 0;
		margin-top: auto;

		@include small {
			padding: 50px 0 30px 0;
		}

		@include medium {
			padding-bottom: 10px;
		}

		h1 {
			@include large {
				grid-column: 4 / span 18;
			}			
		}
	}

	.copy-large {

		p {
			font-size: 1rem;
			line-height: 1.5em;

			@include large {
				grid-column: 4 / span 13;
			}			
		}

		br {
			@include medium {
				display: none;
			}
		}
	}

	.select-work {
		margin-top: auto;
	
		h3 {
			display: flex;
			align-items: center;

			&:after {
				display: inline-block;
				content: "";
				margin-left: 20px;
				width: 14px;
				height: 18px;
				background: url(images/down-arrow-white.svg) no-repeat 0 0;
				background-size: 100%;
			}

			@include large {
				grid-column: 6 / span 6;
			}
		}
	}

}