.inset-image {

	@include large {
		&.section-left,
		&.section-right {
			&:before {
				content: '';
				display: block;
				height: 100%;
				width: 100%;
				grid-row: 1;
			}
		}
	}

	&.section-full-bleed {
		&.type-mobile {
			.screenshot {
				@include small {
					grid-column: 4 / span 1;
					grid-row: 2;
				}

				@include medium {
					grid-column: 6 / span 3;
				}

				@include large {
					grid-column: 12 / span 5;
				}
			}

			&.has-links {
				.screenshot {
					@include small {
						padding-top: 0;
					}
				}
				.project-info {
					@include small {
						grid-column: 4 / span 1;
						grid-row: 1;
					}

					@include medium {
						padding: 64px 0 24px 0;
						grid-column: 6 / span 3;
					}

					@include large {
						grid-column: 12 / span 5;
						padding-top: 72px;
					}

					@include x-large {
						padding-top: 160px;
					}
				}
			}
		}

		&.type-desktop,
		&.type-tablet {
			@include large {
				.screenshot {
					grid-column: 6 / span 15;
				}
			}

			&.has-links {
				.screenshot {
					@include small {
						padding-top: 0;
					}
				}

				.project-info {
					@include medium {
						grid-column: 2 / span 11;
					}				

					@include large {
						grid-column: 6 / span 15;
						padding: 72px 0 24px 0;
					}

					@include x-large {
						padding-top: 160px;
					}
				}
			}
		}
	}

	&.has-links {
		.screenshot {
			padding: 0 0 64px 0;

			@include small {
				padding: 24px 0 64px 0;
			}

			@include large {
				padding: 88px 0;
			}

			@include x-large {
				padding: 160px 0;
			}
		}

		.project-info {
			padding: 64px 0 20px 0;

			@include medium {
				grid-column: 4 / span 7;
				padding: 72px 0 0 0;
			}

			@include large {
				height: 100%;
				display: flex;
				align-items: center;
				padding: 0;
				grid-row: 1;
			}

			&.copy-medium {
				p {
					width: 100%;

					@include large {
						line-height: 1.25em;

						strong {
							padding-bottom: 5px;
						}
					}
				}			
			}

			strong {
				display: block;
			}

			a {
				display: inline-block;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	&.no-links {
		.screenshot {
			padding: 64px 0;

			@include large {
				padding: 88px 0;
			}

			@include x-large {
				padding: 160px 0;
			}
		}		
	}

	&.type-mobile {
		.project-info,
		.screenshot {
			max-width: 50%;
			width: 100%;
			margin: 0 auto;

			@include small {
				max-width: 100%;
				margin: 0;
			}
		}

		&.no-links {
			&.section-left,
			&.section-right {
				.screenshot {
					grid-column: 2 / span 3;

					@include small {
						grid-column: 3 / span 3;
					}

					@include medium {
						grid-column: 6 / span 3;
					}

					@include large {
						grid-column: 10 / span 7;
					}
				}
			}
		}

		&.has-links {

			&.section-left {
				@include small {
					.project-info {
						grid-column: 1 / span 2;
						text-align: right;
						padding: 0;
						display: flex;
						align-items: center;
					}

					.screenshot {
						grid-column: 4 / span 1;
					}
				}

				@include medium {
					.project-info {
						grid-column: 4 / span 1;
					}

					.screenshot {
						grid-column: 6 / span 3;
					}
				}


				@include large {
					.project-info {
						grid-column: 8 / span 3;
					}

					.screenshot {
						grid-column: 12 / span 5;
					}
				}
			}

			&.section-right {
				@include small {
					.screenshot {
						grid-column: 4 / span 1;
						grid-row: 1;
					}

					.project-info {
						grid-column: 6 / span 2;
						grid-row: 1;
						padding: 0;
						display: flex;
						align-items: center;
					}
				}

				@include medium {
					.screenshot {
						grid-column: 6 / span 3;
					}

					.project-info {
						grid-row: 1;
						grid-column: 10 / span 1;
					}
				}

				@include large {
					.project-info {
						grid-column: 16 / span 3;
					}

					.screenshot {
						grid-column: 10 / span 5;
					}
				}
			}
		}
	}

	&.type-desktop,
	&.type-tablet  {
		
		&.section-left {
			@include medium {
				.screenshot {
					grid-column: 4 / span 7;
				}
			}

			@include large {	
				.project-info {
					grid-column: 2 / span 3;
					text-align: right;
				}

				.screenshot {
					grid-column: 6 / span 15;
				}

				&.no-links {
					.screenshot {
						grid-column: 6 / span 13;
					}
				}
			}

			&:before {
				grid-column: 23 / span 3;
				width: calc(100% + 1px);
			}
		}

		&.section-right {
			@include large {
				grid-column: 1 / span 3;

				&:before {
					grid-column: 1 / span 3;
				}

				.screenshot {
					grid-column: 6 / span 15;
				}

				&.no-links {
					.screenshot {
						grid-column: 8 / span 13;
					}
				}

				.project-info {
					grid-column: 22 / span 3;
				}
			}
		}
	}

	&.type-desktop {
		&.section-left {
			@include large {
				&.no-links {
					.screenshot {
						grid-column: 4 / span 17;
					}
				}
			}
		}

		&.section-right {
			@include large {
				&.no-links {
					.screenshot {
						grid-column: 6 / span 17;
					}
				}
			}
		}
	}



	&.gray {
		background-color: $light-gray;

		&:before {
			background: $white;
		}
	}

	&.black {
		background-color: $black;

		&:before {
			background: $white;
		}

		.project-info {
			a {
				color: $white;
			}
		}

		.mobile-wrapper,
		.tablet-wrapper {
			background: $white;
			box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.2);

			@include large {
				box-shadow: 8px 8px 0px rgba(255, 255, 255, 0.2);
			}

			img,
			picture {
				border: 1px solid $black;
			}
		}

		.desktop {
			img,
			picture {
				box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.2);

				@include large {
					box-shadow: 8px 8px 0px rgba(255, 255, 255, 0.2);
				}
			}
		}
	}

	&.white {
		background-color: $white;

		&:before {
			background: $light-gray;
		}
	}

	&.dark-gray {
		background: $dark-gray;
		color: $white;

		&:before {
			background: $light-gray;
		}

		.project-info {
			a {
				color: $white;
			}
		}
	}
}