.methods {

	.content {
		padding: 80px 16px;
		grid-column: 1 / span 5;

		@include small {
			padding: 80px 40px;
			grid-column: 1 / span 6;
		}

		@include medium {
			padding: 80px 0 70px 40px;
			display: grid;
			grid-template-columns: 40px repeat(5, 1fr 32px) 1fr;
			grid-column: 1 / span 12;

			.methods-header {
				grid-column: 1 / span 10;
			}

			.methods-list {
				grid-column: 3 / span 7;
			}
		}

		@include large {
			padding: 80px 0 120px 0;
			grid-template-columns: 48px repeat(10, 1fr 32px) 1fr;
			grid-column: 1 / span 22;

			.methods-header {
				grid-column: 6 / span 11;
			}

			.methods-list {
				grid-column: 8 / span 9;
			}			
		}

		@include x-large {
			.methods-header {
				grid-column: 6 / span 13;
			}

			.methods-list {
				grid-column: 8 / span 9;
			}	
		}

		@include left-gutter;
	}

	&-header {
		padding-bottom: 50px;

		@include medium {
			padding-bottom: 40px;
		}

		h2 {
			font-size: 1.75rem;
			line-height: 1.125em;

			@include medium {
				font-size: 2.25rem;
				line-height: 1.2222em;
			}
		}

		h3 {
			padding-bottom: 20px;
		}
	}

	.method {
		& + .method {
			padding-top: 50px;

			@include medium {
				padding-top: 40px;
			}
		}

		.headline {
			padding-bottom: 8px;

			p {
				font-weight: bold;
			}
		}

		.copy-large {
			p {
				@include medium {
					font-size: 1.125rem;
					line-height: 1.3333em;
				}
			}
		}
	}

	.border-bottom {
		height: 72px;
		grid-column: 1 / -1;
		display: flex;
		padding-right: 16px;
		align-items: center;
		justify-content: flex-end;

		@include small {
			padding-right: 40px;
		}

		@include large {
			grid-column: 4 / 23;
			padding-right: 0;
		}

		.top {
			display: flex;
			align-items: center;
			color: $white;
			font-weight: 300;

			&:after {
				display: inline-block;
				content: "";
				margin-left: 20px;
				width: 14px;
				height: 18px;
				background: url(images/down-arrow-white.svg) no-repeat 0 0;
				background-size: 100%;
				transform: rotate(180deg);
			}			
		}
	}

	.gutter {
		display: none;

		@include large {
			display: block;
			height: 100%;
			grid-column: 1 / span 3;				
		}
	}


	&.black {
		background: $orange;

		.content {
			color: $white;
			background: $black;

			&:before {
				background: $black;
			}
		}

		.methods-header {
			h3 {
				color: $orange;
			}

			h2 {
				color: $white;
			}
		}

		.border-bottom {
			background: $orange;
		}
		
		.gutter {
			@include large {
				background: $white;
			}
		}
	}

	&.gray {
		background: $black;

		.content {
			color: $black;
			background: $light-gray;

			&:before {
				background: $light-gray;
			}
		}

		.methods-header {
			h3 {
				color: $orange;
			}

			h2 {
				color: $black;
			}
		}

		.border-bottom {
			background: $black;
		}
		
		.gutter {
			@include large {
				background: $white;
			}
		}

	}
}