.mobile-gallery {

	@include large {
		&.section-left,
		&.section-right {
			&:before {
				content: '';
				display: block;
				height: 100%;
				width: 100%;
				grid-row: 1;
			}
		}

		&.section-left {
			&:before {
				grid-column: 23 / span 3;
			}
		}

		&.section-right {
			&:before {
				grid-column: 1 / span 3;
			}
		}
	}

	.screenshots {
		display: grid;
		gap: 32px;
		grid-template-columns: repeat(2, 1fr);

		@include small {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&.has-links {
		.screenshots {
			padding: 0 0 64px 0;

			@include large {
				padding: 88px 0;
			}

			@include x-large {
				padding: 160px 0;
			}
		}

		.project-info {
			padding: 64px 0 20px 0;

			@include medium {
				padding: 72px 0 24px 0;
			}

			@include large {				
				height: 100%;
				display: flex;
				align-items: center;
				padding: 0;
				grid-row: 1;
			}

			&.copy-medium {
				p {
					width: 100%;
					font-size: 1rem;
				}			
			}

			strong {
				display: block;
			}

			a {
				display: inline-block;

				&:hover {
					cursor: pointer;
				}
			}
		}

		&.section-left {
			.project-info {
				@include large {
					grid-column: 3 / span 2;
					text-align: right;
				}
			}

			.screenshots {
				@include large {
					grid-column: 6 / span 15;
				}
			}
		}

		&.section-right {
			.project-info {
				@include large {
					grid-column: 22 / span 2;
				}
			}

			.screenshots {
				@include large {
					grid-column: 6 / span 15;
				}
			}
		}
	}

	&.no-links {
		.screenshots {
			padding: 64px 0;

			@include large {
				padding: 88px 0;
			}

			@include x-large {
				padding: 160px 0;
			}
		}		

		&.section-left {
			.screenshots {
				@include large {
					grid-column: 6 / span 15;
				}
			}
		}

		&.section-right {
			.screenshots {
				@include large {
					grid-column: 6 / span 15;
				}
			}
		}

	}

	&.gray {
		background-color: $light-gray;

		&:before {
			background: $white;
		}
	}

	&.black {
		background-color: $black;

		&:before {
			background: $white;
		}

		.project-info {
			a {
				color: $white;
			}
		}

		.mobile-wrapper {
			background: $white;
			box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.2);

			@include large {
				box-shadow: 8px 8px 0px rgba(255, 255, 255, 0.2);
			}

			img,
			picture {
				border: 1px solid $black;
			}
		}
	}

	&.white {
		background-color: $white;

		&:before {
			background: $light-gray;
		}
	}

	&.dark-gray {
		background: $dark-gray;
		color: $white;

		&:before {
			background: $light-gray;
		}

		.project-info {
			a {
				color: $white;
			}
		}
	}
}