.pullquote {
	padding: 75px 0;

	@include large {
		padding: 85px 0 80px 0;
	}

	blockquote,
	.source {

		@include medium {
			grid-column: 4 / span 7;
		}

		@include large {
			grid-column: 8 / span 11;
		}

	}


	blockquote {
		padding: 0;
		margin: 0;

		&:before {
			content: '';
			display: block;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100%;
			background-image: url(images/quote-mark-orange.svg);
			width: 40px;
			height: 32px;
			margin-bottom: 40px;

			@include medium {
				width: 52px;
				height: 40px;
				margin-bottom: 30px;
			}

			@include large {
				margin-bottom: 40px;
			}
		}

		p {
			font-weight: bold;
			font-size: 1.125rem;
			line-height: 1.3333em;

			@include large {
				font-size: 1.5rem;
			}
		}
	}

	.source {
		padding-top: 25px;

		&:after {
			content: '';
			display: block;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100%;
			background-image: url(images/quote-mark-orange.svg);
			width: 40px;
			height: 32px;
			margin-top: 20px;
			transform: rotate(180deg);
			margin-left: auto;
		
			@include medium {
				width: 52px;
				height: 40px;
				margin-top: 5px;
			}
		}

		p {
			@include medium {
				font-size: 1rem;
			}

			strong {
				padding-right: 3px;
			}

		}
	}

	&.gray {
		background-color: $light-gray;
	}

	&.black {
		background-color: $black;
		color: $white;
	}

	&.white {
		background-color: $white;

		blockquote {
			&:before {
				background-image: url(images/quote-mark-gray.svg);
			}
		}

		.source {
			&:after {
				background-image: url(images/quote-mark-gray.svg);
			}
		}
	}
}