.services {

	.content {
		padding: 80px 0 70px 0;

		@include large {
			display: grid;
			grid-template-columns: repeat(10, 1fr 32px) 1fr 48px;
			grid-column: 4 / span 22;

			.services-header {
				grid-column: 3 / span 17;
			}

			.services-list {
				grid-column: 3 / span 17;
			}
		}
	}

	&-header {
		padding-bottom: 72px;

		h3 {
			padding-bottom: 20px;
		}
	}

	&-list {
		display: grid;
		gap: 32px;

		@include small {
			grid-template-columns: repeat(2, 1fr);
		}

		@include x-large {
			grid-template-columns: repeat(3, 1fr);
		}			
	}

	.service {
		display: flex;
		flex-direction: column;
		justify-content: center;

		& + .service {
			.icon {
				padding-top: 50px;

				@include small {
					padding-top: 0;
				}
			}
		}

		@include small {
			height: 320px;
			padding: 24px;
		}

		@include large {
			padding: 0 24px 32px 24px;
		}

		@include xx-large {
			padding: 0 32px 32px 32px;
		}

		.icon {
			max-width: 80px;
			padding-bottom: 30px;

			@include small {
				margin-top: auto;
				padding-bottom: 0;
			}
		}

		.info {
			margin-top: auto;

			@include medium {
				max-width: 288px;
			}

			@include x-large {
				max-width: 100%;
			}

			h4 {
				font-size: 1.25rem;
				line-height: 1.4em;

				@include small {
					font-size: 1rem;
				}

				@include medium {
					font-size: 1.25rem;
				}

				@include x-large {
					font-size: 1.125rem;
				}

				@include xx-large {
					font-size: 1.25rem;
				}
			}

			p {
				font-size: 1.125rem;
				line-height: 1.4em;

				@include small {
					font-size: 1rem;
					line-height: 1.5em;
				}

				@include medium {
					font-size: 1.125rem;
					line-height: 1.4em;
				}

				@include large {
					font-size: 1rem;
					line-height: 1.5em;
				}

				@include x-large {
					font-size: 1.125rem;
					line-height: 1.3333em;
				}
			}
		}
	}

	&.orange {
		background: $orange;
	
		@include large {
			background: transparent;
		}

		.content {
			@include large {
				background: $orange;
			}
		}

		.services-header {
			h3 {
				color: $white;
			}

			h2 {
				color: $white;
			}
		}

		.service {
			@include small {
				background: $light-orange;
			}
			

			.info {
				h4 {
					color: $white;
				}

				p {
					color: $white;

					@include small {
						color: $black;
					}
				}
			}
		}
	}

	&.gray {
		background: #E5E5E5;
	
		@include large {
			background: transparent;
		}

		.content {
			@include large {
				background: #E5E5E5;
			}
		}

		.services-header {
			h3 {
				color: $orange;
			}

			h2 {
				color: $black;
			}
		}

		.service {
			@include small {
				background: $light-gray;
			}
			

			.info {
				h4 {
					color: $black;
				}

				p {
					color: $black;
				}
			}
		}
	}

	&.black {
		background: $black;
	
		@include large {
			background: transparent;
		}

		.content {
			@include large {
				background: $black;
			}
		}

		.services-header {
			h3 {
				color: $orange;
			}

			h2 {
				color: $white;
			}
		}

		.service {
			background: $slate;

			.info {
				h4 {
					color: $white;
				}

				p {
					color: $white;
				}
			}
		}
	}
}